openapi: 3.0.1
info:
  title: Actions
  description: The representation of payment processing actions executed by an integration
    to the API.
  version: 2020 04 10
servers:
- url: https://apis.sandbox.globalpay.com/ucp
security:
- bearerAuth: []
tags: []
paths:
  /actions:
    get:
      tags:
      - Actions
      summary: Get a list of Actions using criteria passed in the query string. Page
        through the result set to access all records.
      description: Get a list of Actions using criteria passed in the query string.
        Page through the result set to access all records.
      parameters:
      - name: Authorization
        in: header
        description: The Bearer token used when executing this action.
        required: true
        schema:
          type: string
          default: Bearer YX06YElOGvuMmj3mtNhmGYVujpCs
      - name: X-GP-Version
        in: header
        description: Indicates the version of the GP-API for this message.
        required: true
        schema:
          type: string
          default: "2020-04-10"
      - name: Accept
        in: header
        description: Expected format of the response message.
        schema:
          type: string
          default: application/json
      - name: Accept-Encoding
        in: header
        description: Compression algorithm user can accept in the response to this
          request.
        schema:
          type: string
          default: gzip
      - name: X-GP-Idempotency
        in: header
        description: Field submitted in the request that is used to ensure idempotency
          is maintained with this action.
        schema:
          type: string
      - name: page
        in: query
        description: Indicates the sequence of the page of records to return when
          retrieving many pages.
        schema:
          maximum: 1000
          minimum: 1
          type: number
      - name: page_size
        in: query
        description: The total number of records to return in a single page for that
          list
        schema:
          maximum: 1000
          minimum: 1
          type: number
          default: 25.0
      - name: order_by
        in: query
        description: The value to order the entire list by.
        schema:
          type: string
          default: TIME_CREATED
          enum:
          - TIME_CREATED
          - TYPE
          - RESOURCE
          - MERCHANT_NAME
          - ACCOUNT_NAME
          - ACCPLICATION_NAME
          - VERSION
          - RESULT_CODE
      - name: order
        in: query
        description: The direction of the ordering of the entire list, ASC or DESC
        schema:
          type: string
          default: ASC
          enum:
          - ASC
          - DESC
      - name: id
        in: query
        description: 'A unique identifier for the Action in the Global Payments system. '
        schema:
          type: string
      - name: type
        in: query
        description: Search by action type.
        schema:
          type: string
      - name: resource
        in: query
        description: Search for a specific resource that actions relate to.
        schema:
          type: string
          enum:
          - ACCESS_TOKENS
          - TRANSACTIONS
          - ACTIONS
          - BATCHES
          - VERIFICATIONS
          - DEVICES
          - DISPUTES
          - DEPOSITS
      - name: resource_status
        in: query
        description: Search for a resources that have or had a specific status after
          an action completed.
        schema:
          type: string
          enum:
          - CAPTURED
          - FUNDED
      - name: resource_id
        in: query
        description: The Id of a specific resource linked to the action.
        schema:
          type: string
      - name: from_time_created
        in: query
        description: The time to search from in a range, using the Action time created
          value.
        required: true
        schema:
          type: string
          default: "2020-06-05"
      - name: to_time_created
        in: query
        description: The time to search to in a range, using the Action time created
          value.
        schema:
          type: string
          default: "2020-06-12"
      - name: merchant_name
        in: query
        description: The Merchant Name that executed the action.
        schema:
          type: string
      - name: account_name
        in: query
        description: The Account Name that executed the action was executed with.
        required: true
        schema:
          type: string
          default: Transaction_Processing
      - name: application_name
        in: query
        description: The Application Name that executed the action.
        schema:
          type: string
      - name: version
        in: query
        description: The version that the action was executed against.
        schema:
          type: string
      - name: response_code
        in: query
        description: The response an action was assigned when executed.
        schema:
          type: string
      - name: http_code
        in: query
        description: The http code an action was assigned when executed.
        schema:
          type: string
      responses:
        200:
          description: Success
          headers:
            Content-type:
              description: Format of the message.
              schema:
                type: string
                default: application/json
            Content-Encoding:
              description: Compression algorithm used in the response.
              schema:
                type: string
            X-GP-Version:
              description: Indicates the version of the GP-API for this message.
              schema:
                type: string
                default: "2020-04-10"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/actions_list'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp400'
        401:
          description: Not Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp401'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp403'
        404:
          description: Resource Not Found
          content: {}
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp500'
        501:
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp501'
        502:
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp502'
        504:
          description: Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp504'
  /actions/{id}:
    get:
      tags:
      - Action
      summary: Get a single Action using the action Id in the path.
      description: Get a single Action using the action Id in the path.
      parameters:
      - name: Authorization
        in: header
        description: The Bearer token used when executing this action.
        required: true
        schema:
          type: string
          default: Bearer YX06YElOGvuMmj3mtNhmGYVujpCs
      - name: X-GP-Version
        in: header
        description: Indicates the version of the GP-API for this message.
        schema:
          type: string
          default: "2020-04-10"
      - name: Accept
        in: header
        description: Expected format of the response message.
        schema:
          type: string
          default: application/json
      - name: Accept-Encoding
        in: header
        description: Compression algorithm user can accept in the response to this
          request.
        schema:
          type: string
          default: gzip
      - name: id
        in: path
        description: Identifier that uniquely identifies the Action on the Global
          Payments system.
        required: true
        schema:
          type: string
          default: "ACT_TvY1QFXxQKtaFSjNaLnDVdo3PZ7ivz"
      responses:
        200:
          description: Success
          headers:
            Content-type:
              description: Format of the message.
              schema:
                type: string
                default: application/json
            Content-Encoding:
              description: Compression algorithm used in the response.
              schema:
                type: string
            X-GP-Version:
              description: Indicates the version of the GP-API for this message.
              schema:
                type: string
                default: "2020-04-10"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/action_single'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp400'
        401:
          description: Not Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp401'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp403'
        404:
          description: Resource Not Found
          content: {}
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp500'
        501:
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp501'
        502:
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp502'
        504:
          description: Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp504'
components:
  schemas:
    actions_list:
      type: object
      properties:
        total_record_count:
          maximum: 15
          type: number
          description: The total number across all pages. Returned on the first page
            and when the date range is a month or less.
          example: 12.0
        current_page_size:
          maximum: 15
          type: number
          description: The total number of records returned on the current page. If
            current_page_size is less than the page_size using in the query string
            then this is the final page for that search.
          example: 3412.0
        merchant_id:
          type: string
          description: A unique identifier generated by Global Payments to identify
            the Merchant.
          example: MER_c4c0df11039c48a9b63701adeaa296c3
        merchant_name:
          type: string
          description: A meaningful label to identify the Merchant.
          example: Sandbox_merchant_2
        filter:
          $ref: '#/components/schemas/filter_obj'
        paging:
          $ref: '#/components/schemas/paging_obj'
        actions:
          $ref: '#/components/schemas/actions_res'
        action:
          $ref: '#/components/schemas/action'
    actions_res:
      type: object
      properties:
        id:
          type: string
          description: A unique identifier generated by Global Payments to identify
            the Action.
          example: ACT_2342423423
          default: ACT_2342423423
        type:
          type: string
          description: The type of action executed.
        time_created:
          type: string
          description: Global Payments time indicating when the Action was created.
            Value is in ISO-8601 format and in UTC.
        resource:
          type: string
          description: The type of resource the action relates to.
          example: TRANSACTIONS
          default: TRANSACTIONS
        resource_id:
          type: string
          description: A unique identifier generated by Global Payments to identify
            the resource related to this action.
          example: TRN_cf4e1008-c921-4096-bec9-2372cb9476d8
          default: TRN_cf4e1008-c921-4096-bec9-2372cb9476d8
        resource_status:
          type: string
          description: The status of the resource after the action was executed.
          example: REVERSED
        version:
          type: string
          description: The version of the API the action executed against.
        http_response_code:
          type: string
          description: The HTTP result of the action
        response_code:
          type: string
          description: The result of the action
        app_id:
          type: string
          description: A unique identifier generated by Global Payments to identify
            the Merchant's application
          example: i9R0byBBor6RqTQNj3g4MuVBwH5rd7yR
        app_name:
          type: string
          description: A meaningful label to identify the Merchant's application.
          example: demo_app
        merchant_name:
          type: string
          description: A meaningful label to identify the Merchant.
          example: Sandbox_merchant_2
        account_name:
          type: string
          description: A meaningful label to identify the Merchant's configuration
            account.
          example: Transaction_Processin
    action_single:
      type: object
      properties:
        id:
          type: string
          description: A unique identifier generated by Global Payments to identify
            the Action.
          example: ACT_2342423423
        type:
          type: string
          description: The type of action executed.
        time_created:
          type: string
          description: Global Payments time indicating when the Action was created.
            Value is in ISO-8601 format and in UTC.
        resource:
          type: string
          description: The type of resource the action relates to.
          example: TRANSACTIONS
        resource_id:
          type: string
          description: A unique identifier generated by Global Payments to identify
            the resource related to this action.
          example: TRN_cf4e1008-c921-4096-bec9-2372cb9476d8
        resource_parent_id:
          type: string
          description: A unique identifier used to identify the parent resource that
            the action relates to.
          example: TRN_sdfklj43sf-c921-4096-bec9-2372cb949324a
        resource_status:
          type: string
          description: The status of the resource after the action was executed.
          example: REVERSED
        resource_request_url:
          type: string
          description: The URL used to execute this action.
          example: /transactions?from_time_created=2019-01-01&from_deposit_time_created=2019-01-01&page_size=1000&page=1&order=DESC
        version:
          type: string
          description: The version of the API the action executed against.
        http_response_code:
          type: string
          description: The HTTP result of the action
        response_code:
          type: string
          description: The result of the action
        response_detailed_code:
          type: string
          description: The detailed result code of the action
        response_detailed_message:
          type: string
          description: The description of the detailed result code returned
        app_id:
          type: string
          description: A unique identifier generated by Global Payments to identify
            the Merchant's application
          example: i9R0byBBor6RqTQNj3g4MuVBwH5rd7yR
        app_name:
          type: string
          description: A meaningful label to identify the Merchant's application.
          example: demo_app
        email:
          type: string
          description: The developer assigned to the app used to execute the action.
          example: james.mason@example.com
        merchant_id:
          type: string
          description: A unique identifier generated by Global Payments to identify
            the Merchant.
          example: MER_c4c0df11039c48a9b63701adeaa296c3
        merchant_name:
          type: string
          description: A meaningful label to identify the Merchant.
          example: Sandbox_merchant_2
        account_id:
          type: string
          description: A unique identifier generated by Global Payments to identify
            the Merchant's transaction processing configuration.
          example: DAA_5763583e72ca4181bee088a25482bf06
        account_name:
          type: string
          description: A meaningful label to identify the Merchant's configuration
            account.
          example: Settlement Reporting
        source_location:
          type: string
          description: Identifies where the action request came from
        destination_location:
          type: string
          description: Identifies where the action response is sent to
        message_received:
          type: string
          description: The sanitized HTTP,Header and body of the action request.
        message_sent:
          type: string
          description: The sanitized HTTP,Header and body of the action response.
        metrics:
          type: string
          description: A name value pair array of data points to assist with measuring
            the products usage.
          example: ""
        total_time_milliseconds:
          type: number
          description: The time it took from the millisecond the action request hit
            this system to the response was sent back to the integrator.
        total_time_downstream_milliseconds:
          type: number
          description: The time it took from the millisecond the system passed the
            request onto a third party to the time that system responded.
        action:
          $ref: '#/components/schemas/action'
    action:
      type: object
      properties:
        id:
          type: string
          description: A unique identifier generated by Global Payments to identify
            the Action.
        type:
          type: string
          description: Indicates the action taken.
          enum:
          - ACTION_SINGLE
          - ACTION_LIST
        time_created:
          type: string
          description: Global Payments time indicating when the Action was executed.
            Value is in ISO-8601 format and in UTC.
        result_code:
          type: string
          description: The result of the action executed.
          enum:
          - SUCCESS
          - DECLINE
        app_id:
          type: string
          description: The App id used to create the token for this request.
          example: i9R0byBBor6RqTQNj3g4MuVBwH5rd7yR
        app_name:
          type: string
          description: A meaningful label to identify the API app used to execute
            the action.
          example: demo_app
      description: Information about the Action executed.
    filter_obj:
      type: object
      properties:
        name:
          type: string
          description: The name and value of the field used to search the list.
          example: Value of name used to search the list
      description: A name value list of the fields and field values used to filter
        the list of resource objects.
    paging_obj:
      type: object
      properties:
        page:
          type: string
          description: 'Indicates the page sequence to return in the response. The
            number of records presented on each page is determined by page_size field. '
          example: ""
        page_size:
          maximum: 1E+2
          minimum: 1
          type: number
          description: The total number of objects to return in a single page for
            that list
          example: 25.0
        order_by:
          type: string
          description: The value to order the entire list by.
          example: TIME_CREATED
          enum:
          - TIME_CREATED
          - STATUS
          - TYPE
          - DEPOSIT_ID
        order:
          type: string
          description: The direction of the ordering of the entire list, ASC or DESC
          example: ASC
          default: ASC
          enum:
          - ASC
          - DESC
      description: The paging values used for this action.
    errorhttp400:
      type: object
      properties:
        error_code:
          type: string
          description: This action failed due to something being wrong with the API
            request.
          example: MANDATORY_DATA_MISSING
          default: MANDATORY_DATA_MISSING
          enum:
          - DUPLICATE_TRANSACTION
          - INVALID_BATCH_ACTION
          - INVALID_REQUEST_DATA
          - INVALID_TRANSACTION_ACTION
          - MANDATORY_DATA_MISSING
          - TRANSACTION_NOT_FOUND
        detailed_error_code:
          type: string
          description: Unique reference to identify the error.
          example: "40016"
          enum:
          - 4xxxx Range
        detailed_error_description:
          type: string
          description: Unique Text describing the specific error.
          example: Bad track data
    errorhttp401:
      type: object
      properties:
        error_code:
          type: string
          description: This action failed as token in the request is not valid.
          example: NOT_AUTHENTICATED
          default: NOT_AUTHENTICATED
          enum:
          - NOT_AUTHENTICATED
        detailed_error_code:
          type: string
          description: Unique reference to identify the error.
          example: "40001"
          enum:
          - 4xxxx Range
          - "40001"
          - "40002"
        detailed_error_description:
          type: string
          description: Unique Text describing the specific error.
          example: Invalid Access Token
    errorhttp403:
      type: object
      properties:
        error_code:
          type: string
          description: This action is not authorized with the credentials being used.
          example: ACTION_NOT_AUTHORIZED
          enum:
          - ACTION_NOT_AUTHORIZED
        detailed_error_code:
          type: string
          description: Unique reference to identify the error.
          example: "40003"
          enum:
          - 4xxxx Range
          - "40003"
          - "40004"
        detailed_error_description:
          type: string
          description: Unique Text describing the specific error.
          example: Permission not enabled to execute action
    errorhttp500:
      type: object
      properties:
        error_code:
          type: string
          description: This indicates an unexpected issue occurred on the Global Payments
            system.
          example: SYSTEM_ERROR_DOWNSTREAM
          enum:
          - SYSTEM_ERROR_DOWNSTREAM
        detailed_error_code:
          type: string
          description: Unique reference to identify the error.
          example: "50011"
          enum:
          - 5xxxx Range
        detailed_error_description:
          type: string
          description: Unique Text describing the specific error.
          example: Processor Configuration error
    errorhttp501:
      type: object
      properties:
        error_code:
          type: string
          description: This is an error not yet handled or mapped properly.
          example: UNKNOWN_RESPONSE
          enum:
          - UNKNOWN_RESPONSE
        detailed_error_code:
          type: string
          description: Unique reference to identify the error.
          example: "50012"
          enum:
          - "50012"
        detailed_error_description:
          type: string
          description: 'Unique Text describing the specific error not yet handled.      '
    errorhttp502:
      type: object
      properties:
        error_code:
          type: string
          description: This is an error indicating there was an issue connecting to
            a partner system..
          example: UNAUTHORIZED_DOWNSTREAM
          enum:
          - UNAUTHORIZED_DOWNSTREAM
        detailed_error_code:
          type: string
          description: Unique reference to identify the error.
          example: "50002"
          enum:
          - 5xxxx Range
        detailed_error_description:
          type: string
          description: Authentication error—Verify and correct credentials.
    errorhttp504:
      type: object
      properties:
        error_code:
          type: string
          description: This is an error indicating there was a timeout issue to another  system.
          example: TIMEOUT_DOWNSTREAM
          enum:
          - TIMEOUT_DOWNSTREAM
        detailed_error_code:
          type: string
          description: Unique reference to identify the error.
          example: "50008"
          enum:
          - 5xxxx Range
        detailed_error_description:
          type: string
          description: 'No response from payment method provider. '
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Authorization header using the Bearer scheme.  Example: ''Authorization:
        Bearer {token}'''
