openapi: 3.0.1
info:
  title: Disputes
  description: Disputes are an act, initiated by a Payer or Payer’s bank to query
    or challenge the previous transfer of funds between that Payer and the Merchant.
  version: 2020 04 10
servers:
- url: https://apis.sandbox.globalpay.com/ucp
security:
- bearerAuth: []
tags: []
paths:
  /disputes/{id}/acceptance:
    post:
      tags:
      - Accept
      summary: Accept liability for a Dispute.
      description: Accept liability for a Dispute that will likely result in financial
        impact to the Merchant.
      parameters:
      - name: Authorization
        in: header
        description: The Bearer token used when executing this action.
        required: true
        schema:
          type: string
          default: Bearer YX06YElOGvuMmj3mtNhmGYVujpCs
      - name: X-GP-Version
        in: header
        description: Indicates the version of the GP API for this message.
        required: true
        schema:
          type: string
          default: "2020-04-10"
      - name: Content-type
        in: header
        description: Format of the request message.
        required: true
        schema:
          type: string
          default: application/json
      - name: Accept
        in: header
        description: Expected format of the response message.
        schema:
          type: string
          default: application/json
      - name: Accept-Encoding
        in: header
        description: Compression algorithm user can accept in the response to this
          request.
        schema:
          type: string
          default: gzip
      - name: id
        in: path
        description: This is the unique Global Payments Dispute Id.
        required: true
        schema:
          type: string
          default: "DIS_SAND_abcd1234"
      responses:
        200:
          description: Success
          headers:
            Content-type:
              description: Format of the message.
              schema:
                type: string
                default: application/json
            Content-Encoding:
              description: Compression algorithm used in the response.
              schema:
                type: string
            X-GP-Version:
              description: Indicates the version of the GP API for this message.
              schema:
                type: string
                default: "2020-04-10"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptDisputeResponse'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp400'
        401:
          description: Not Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp401'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp403'
        404:
          description: Resource Not Found
          content: {}
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp500'
        501:
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp501'
        502:
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp502'
        504:
          description: Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp504'
  /disputes/{id}/challenge:
    post:
      tags:
      - Challenge
      summary: Challenge a Dispute by providing evidence indicating Merchant does
        not have liability for a particular Dispute.
      description: Challenge a Dispute or Fulfill a Retrieval by providing all relevant
        defense documentation.
      parameters:
      - name: Authorization
        in: header
        description: The Bearer token used when executing this action.
        required: true
        schema:
          type: string
          default: Bearer YX06YElOGvuMmj3mtNhmGYVujpCs
      - name: X-GP-Version
        in: header
        description: Indicates the version of the GP API for this message.
        required: true
        schema:
          type: string
          default: "2020-04-10"
      - name: Accept
        in: header
        description: Expected format of the response message.
        schema:
          type: string
          default: application/json
      - name: Content-type
        in: header
        description: Format of the message.
        schema:
          type: string
          default: application/json
      - name: Accept-Encoding
        in: header
        description: Compression algorithm user can accept in the response to this
          request.
        schema:
          type: string
          default: gzip
      - name: id
        in: path
        description: This is the unique Global Payments Dispute Id.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChallengeDisputeRequest'
        required: false
      responses:
        200:
          description: Success
          headers:
            Content-type:
              description: Format of the message.
              schema:
                type: string
                default: application/json
            Content-Encoding:
              description: Compression algorithm used in the response.
              schema:
                type: string
            X-GP-Version:
              description: Indicates the version of the GP API for this message.
              schema:
                type: string
                default: "2020-04-10"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChallengeDisputeResponse'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp400'
        401:
          description: Not Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp401'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp403'
        404:
          description: Resource Not Found
          content: {}
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp500'
        501:
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp501'
        502:
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp502'
        504:
          description: Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp504'
      x-codegen-request-body-name: Request Body
  /disputes/{id}:
    get:
      tags:
      - Dispute
      summary: Get info about a Dispute on the Global Payments system using the unique
        id created by Global Payments for that Dispute.
      description: 'Get information about a single Dispute such as, Chargebacks, Retrievals
        or Arbitrations using the unique id created by Global Payments for that Dispute.
        The information can also include all stages (lifecycle) of the dispute if
        needed.  '
      parameters:
      - name: id
        in: path
        description: This is the unique Global Payments Dispute Id.
        required: true
        schema:
          type: string
          default: "DIS_SAND_abcd1234"
      - name: Authorization
        in: header
        description: The Bearer token used when executing this action.
        required: true
        schema:
          type: string
          default: Bearer YX06YElOGvuMmj3mtNhmGYVujpCs
      - name: X-GP-Version
        in: header
        description: Indicates the version of the GP API for this message.
        required: true
        schema:
          type: string
          default: "2020-04-10"
      - name: Accept
        in: header
        description: Format of the expected response message.
        schema:
          type: string
          default: application/json
      - name: Accept-Encoding
        in: header
        description: Compression algorithm client can accept in the response.
        schema:
          type: string
          default: gzip
      responses:
        200:
          description: Success
          headers:
            Content-type:
              description: Format of the message.
              schema:
                type: string
                default: application/json
            Content-Encoding:
              description: Compression algorithm used in the response.
              schema:
                type: string
            X-GP-Version:
              description: Indicates the version of the GP API for this message.
              schema:
                type: string
                default: "2020-04-10"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisputeResponse'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp400'
        401:
          description: Not Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp401'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp403'
        404:
          description: Resource Not Found
          content: {}
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp500'
        501:
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp501'
        502:
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp502'
        504:
          description: Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp504'
  /disputes:
    get:
      tags:
      - Disputes
      summary: Get a list of disputes from the Global Payments system using criteria
        passed in the query string. Page through the result set to access all records
      description: 'Get a list of disputes from the Global Payments system using criteria
        passed in the query string.  The list will contain all dispute types such
        as Chargebacks, Retrievals or Arbitrations.  Page through the result set to
        access all records. '
      parameters:
      - name: Authorization
        in: header
        description: The Bearer token used when executing this action.
        required: true
        schema:
          type: string
          default: Bearer YX06YElOGvuMmj3mtNhmGYVujpCs
      - name: X-GP-Version
        in: header
        description: Indicates the version of the GP API for this message.
        required: true
        schema:
          type: string
          default: "2020-04-10"
      - name: Accept
        in: header
        description: Format of the expected response message.
        schema:
          type: string
          default: application/json
      - name: Accept-Encoding
        in: header
        description: Compression algorithm client can accept in the response.
        schema:
          type: string
          default: gzip
      - name: page
        in: query
        description: page to be passed on the request when the dispute list is passed
          paginated on the response.
        schema:
          type: string
      - name: page_size
        in: query
        description: The total number of objects to return in a single page for that
          list
        schema:
          maximum: 100
          minimum: 1
          type: number
          default: 5.0
      - name: order_by
        in: query
        description: The value to order the entire list by.
        schema:
          type: string
          default: from_stage_time_created
          enum:
          - id
          - arn
          - brand
          - status
          - stage
          - from_stage_time_created
          - to_stage_time_created
          - adjustment_funding
          - from_adjustment_time_created
          - to_adjustment_time_created
      - name: order
        in: query
        description: The direction of the ordering of the entire list, ASC or DESC
        schema:
          type: string
          default: ASC
          enum:
          - ASC
          - DESC
      - name: arn
        in: query
        description: Global Payments reference sent to payment method provider for
          a Transaction.
        schema:
          type: string
      - name: brand
        in: query
        description: Indicates the card brand that issued the card.
        schema:
          type: string
          enum:
          - VISA
          - MASTERCARD
          - AMEX
          - DISCOVER
      - name: status
        in: query
        description: 'Search for disputes that have a status of UNDER_REVIEW, WITH_MERCHANT,
          CLOSED. '
        schema:
          type: string
          enum:
          - UNDER_REVIEW
          - WITH_MERCHANT
          - CLOSED
      - name: stage
        in: query
        description: Search for disputes that have a stage of RETRIEVAL, CHARGEBACK,
          REVERSAL, SECOND_CHARGEBACK, PRE_ARBITRATION, ARBITRATION, PRE_COMPLIANCE,
          COMPLIANCE, GOODFAITH.
        schema:
          type: string
          enum:
          - RETRIEVAL
          - CHARGEBACK
          - REVERSAL
          - SECOND_CHARGEBACK
          - PRE_ARBITRATION
          - ARBITRATION
          - PRE_COMPLIANCE
          - COMPLIANCE
          - GOODFAITH
      - name: from_stage_time_created
        in: query
        description: The time to search from in a range, using the time created value.
        required: true
        schema:
          type: string
          default: "2020-06-09"
      - name: to_stage_time_created
        in: query
        description: The time to search to in a range, using the time created value.
        schema:
          type: string
          default: "2020-06-22"
      - name: adjustment_funding
        in: query
        description: Financial adjustments to Merchant's bank account, either a Credit
          (money returned) or a Debit (money taken).
        schema:
          type: string
          enum:
          - DEBIT
          - CREDIT
      - name: from_adjustment_time_created
        in: query
        description: The time to search from in a range, using the time an adjustment
          was made to the Merchant's bank account.
        schema:
          type: string
      - name: to_adjustment_time_created
        in: query
        description: The time to search to in a range, using the time an adjustment
          was made to the Merchant's bank account.
        schema:
          type: string
      - name: system.mid
        in: query
        description: The system merchant identifier.
        schema:
          type: string
      - name: system.hierarchy
        in: query
        description: 'The system merchant hierarchy '
        schema:
          type: string
      responses:
        200:
          description: Success
          headers:
            Content-type:
              description: Format of the message.
              schema:
                type: string
                default: application/json
            Content-Encoding:
              description: Compression algorithm used in the response.
              schema:
                type: string
            X-GP-Version:
              description: Indicates the version of the GP API for this message.
              schema:
                type: string
                default: "2020-04-10"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisputeListResponse'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp400'
        401:
          description: Not Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp401'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp403'
        404:
          description: Resource Not Found
          content: {}
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp500'
        501:
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp501'
        502:
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp502'
        504:
          description: Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp504'
  /settlement/disputes:
    get:
      tags:
      - Settlement Disputes
      summary: Get a list of disputes that affected a merchant's bank account using
        criteria passed in the query string. Page through the result set to access
        all records
      description: Get a list of disputes that affected a merchant's bank account
        using criteria passed in the query string. Page through the result set to
        access all records
      parameters:
      - name: Authorization
        in: header
        description: The Bearer token used when executing this action.
        required: true
        schema:
          type: string
          default: Bearer YX06YElOGvuMmj3mtNhmGYVujpCs
      - name: X-GP-Version
        in: header
        description: Indicates the version of the GP API for this message.
        required: true
        schema:
          type: string
          default: "2020-04-10"
      - name: Accept
        in: header
        description: Format of the expected response message.
        schema:
          type: string
          default: application/json
      - name: Accept-Encoding
        in: header
        description: Compression algorithm client can accept in the response.
        schema:
          type: string
          default: gzip
      - name: page
        in: query
        description: page to be passed on the request when the dispute list is passed
          paginated on the response.
        schema:
          type: string
      - name: page_size
        in: query
        description: The total number of objects to return in a single page for that
          list
        schema:
          maximum: 100
          minimum: 1
          type: number
          default: 5.0
      - name: order_by
        in: query
        description: The value to order the entire list by.
        schema:
          type: string
          default: from_stage_time_created
          enum:
          - id
          - arn
          - brand
          - status
          - stage
          - from_stage_time_created
          - to_stage_time_created
          - adjustment_funding
          - from_adjustment_time_created
          - to_adjustment_time_created
      - name: order
        in: query
        description: The direction of the ordering of the entire list, ASC or DESC
        schema:
          type: string
          default: ASC
          enum:
          - ASC
          - DESC
      - name: arn
        in: query
        description: Global Payments reference sent to payment method provider for
          a Transaction.
        schema:
          type: string
      - name: brand
        in: query
        description: Indicates the card brand that issued the card.
        schema:
          type: string
          enum:
          - VISA
          - MASTERCARD
          - AMEX
          - DISCOVER
      - name: status
        in: query
        description: Search for disputes that have a status of UNDER_REVIEW, WITH_MERCHANT,
          CLOSED.
        schema:
          type: string
          default: WITH_MERCHANT
          enum:
          - UNDER_REVIEW
          - WITH_MERCHANT
          - CLOSED
      - name: stage
        in: query
        description: Search for disputes that have a stage of RETRIEVAL, CHARGEBACK,
          REVERSAL, SECOND_CHARGEBACK, PRE_ARBITRATION, ARBITRATION, PRE_COMPLIANCE,
          COMPLIANCE, GOODFAITH.
        schema:
          type: string
          enum:
          - RETRIEVAL
          - CHARGEBACK
          - REVERSAL
          - SECOND_CHARGEBACK
          - PRE_ARBITRATION
          - ARBITRATION
          - PRE_COMPLIANCE
          - COMPLIANCE
          - GOODFAITH
      - name: from_stage_time_created
        in: query
        description: The time to search from in a range, using the time created value.
        required: true
        schema:
          type: string
          default: 2019-05-13
      - name: to_stage_time_created
        in: query
        description: The time to search to in a range, using the time created value.
        schema:
          type: string
          default: 2020-05-01
      - name: adjustment_funding
        in: query
        description: Financial adjustments to Merchant's bank account, either a Credit
          (money returned) or a Debit (money taken).
        schema:
          type: string
          enum:
          - DEBIT
          - CREDIT
      - name: from_adjustment_time_created
        in: query
        description: The time to search from in a range, using the time an adjustment
          was made to the Merchant's bank account.
        schema:
          type: string
      - name: to_adjustment_time_created
        in: query
        description: The time to search to in a range, using the time an adjustment
          was made to the Merchant's bank account.
        schema:
          type: string
      - name: system.mid
        in: query
        description: The system merchant identifier.
        schema:
          type: string
      - name: system.hierarchy
        in: query
        description: 'The system merchant hierarchy '
        schema:
          type: string
      responses:
        200:
          description: Success
          headers:
            Content-type:
              description: Format of the message.
              schema:
                type: string
                default: application/json
            Content-Encoding:
              description: Compression algorithm used in the response.
              schema:
                type: string
            X-GP-Version:
              description: Indicates the version of the GP API for this message.
              schema:
                type: string
                default: "2020-04-10"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettlementDisputeListResponse'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp400'
        401:
          description: Not Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp401'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp403'
        404:
          description: Resource Not Found
          content: {}
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp500'
        501:
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp501'
        502:
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp502'
        504:
          description: Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp504'
  /disputes/{id}/documents/{doc_id}:
    get:
      tags:
      - Document
      summary: Get a Document associated with a Dispute.
      description: Get a Document associated with a Dispute
      parameters:
      - name: id
        in: path
        description: 'This is the unique Global Payments Dispute Id. '
        required: true
        schema:
          type: string
      - name: doc_id
        in: path
        description: 'Identifier that uniquely identifies the document associated
          with a Dispute on the Global Payments system. '
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The Bearer token used when executing this action.
        required: true
        schema:
          type: string
          default: Bearer YX06YElOGvuMmj3mtNhmGYVujpCs
      - name: X-GP-Version
        in: header
        description: Indicates the version of the GP API for this message.
        required: true
        schema:
          type: string
          default: "2020-04-10"
      - name: Accept
        in: header
        description: Format of the expected response message.
        required: true
        schema:
          type: string
          default: application/json
      - name: Accept-Encoding
        in: header
        description: Compression algorithm client can accept in the response.
        required: true
        schema:
          type: string
          default: gzip
      responses:
        200:
          description: Success
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/GetDocument'
            application/json:
              schema:
                $ref: '#/components/schemas/GetDocument'
            image/png:
              schema:
                $ref: '#/components/schemas/GetDocument'
            image/gif:
              schema:
                $ref: '#/components/schemas/GetDocument'
            image/jpeg:
              schema:
                $ref: '#/components/schemas/GetDocument'
            application/xml:
              schema:
                $ref: '#/components/schemas/GetDocument'
            application/zip:
              schema:
                $ref: '#/components/schemas/GetDocument'
            text/csv:
              schema:
                $ref: '#/components/schemas/GetDocument'
        400:
          description: Bad Request
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/errorhttp400'
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp400'
            image/png:
              schema:
                $ref: '#/components/schemas/errorhttp400'
            image/gif:
              schema:
                $ref: '#/components/schemas/errorhttp400'
            image/jpeg:
              schema:
                $ref: '#/components/schemas/errorhttp400'
            application/xml:
              schema:
                $ref: '#/components/schemas/errorhttp400'
            application/zip:
              schema:
                $ref: '#/components/schemas/errorhttp400'
            text/csv:
              schema:
                $ref: '#/components/schemas/errorhttp400'
        401:
          description: Not Authenticated
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/errorhttp401'
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp401'
            image/png:
              schema:
                $ref: '#/components/schemas/errorhttp401'
            image/gif:
              schema:
                $ref: '#/components/schemas/errorhttp401'
            image/jpeg:
              schema:
                $ref: '#/components/schemas/errorhttp401'
            application/xml:
              schema:
                $ref: '#/components/schemas/errorhttp401'
            application/zip:
              schema:
                $ref: '#/components/schemas/errorhttp401'
            text/csv:
              schema:
                $ref: '#/components/schemas/errorhttp401'
        403:
          description: Forbidden
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/errorhttp403'
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp403'
            image/png:
              schema:
                $ref: '#/components/schemas/errorhttp403'
            image/gif:
              schema:
                $ref: '#/components/schemas/errorhttp403'
            image/jpeg:
              schema:
                $ref: '#/components/schemas/errorhttp403'
            application/xml:
              schema:
                $ref: '#/components/schemas/errorhttp403'
            application/zip:
              schema:
                $ref: '#/components/schemas/errorhttp403'
            text/csv:
              schema:
                $ref: '#/components/schemas/errorhttp403'
        404:
          description: Resource Not Found
          content: {}
        500:
          description: Internal Server Error
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/errorhttp500'
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp500'
            image/png:
              schema:
                $ref: '#/components/schemas/errorhttp500'
            image/gif:
              schema:
                $ref: '#/components/schemas/errorhttp500'
            image/jpeg:
              schema:
                $ref: '#/components/schemas/errorhttp500'
            application/xml:
              schema:
                $ref: '#/components/schemas/errorhttp500'
            application/zip:
              schema:
                $ref: '#/components/schemas/errorhttp500'
            text/csv:
              schema:
                $ref: '#/components/schemas/errorhttp500'
        501:
          description: Not implemented
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/errorhttp501'
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp501'
            image/png:
              schema:
                $ref: '#/components/schemas/errorhttp501'
            image/gif:
              schema:
                $ref: '#/components/schemas/errorhttp501'
            image/jpeg:
              schema:
                $ref: '#/components/schemas/errorhttp501'
            application/xml:
              schema:
                $ref: '#/components/schemas/errorhttp501'
            application/zip:
              schema:
                $ref: '#/components/schemas/errorhttp501'
            text/csv:
              schema:
                $ref: '#/components/schemas/errorhttp501'
        502:
          description: Bad Gateway
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/errorhttp502'
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp502'
            image/png:
              schema:
                $ref: '#/components/schemas/errorhttp502'
            image/gif:
              schema:
                $ref: '#/components/schemas/errorhttp502'
            image/jpeg:
              schema:
                $ref: '#/components/schemas/errorhttp502'
            application/xml:
              schema:
                $ref: '#/components/schemas/errorhttp502'
            application/zip:
              schema:
                $ref: '#/components/schemas/errorhttp502'
            text/csv:
              schema:
                $ref: '#/components/schemas/errorhttp502'
        504:
          description: Timeout
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/errorhttp504'
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp504'
            image/png:
              schema:
                $ref: '#/components/schemas/errorhttp504'
            image/gif:
              schema:
                $ref: '#/components/schemas/errorhttp504'
            image/jpeg:
              schema:
                $ref: '#/components/schemas/errorhttp504'
            application/xml:
              schema:
                $ref: '#/components/schemas/errorhttp504'
            application/zip:
              schema:
                $ref: '#/components/schemas/errorhttp504'
            text/csv:
              schema:
                $ref: '#/components/schemas/errorhttp504'
components:
  schemas:
    DisputeResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the Dispute on the Global Payments system.
          example: DIS_lskdnfosdfjsdfsdf23dasd
        merchant_id:
          type: string
          description: A unique identifier generated by Global Payments to identify
            the Merchant.
          example: MER_0
        merchant_name:
          type: string
          description: A meaningful label generated by Global Payments to identify
            the Merchant.
          example: TEST_MERCHANT
        account_id:
          type: string
          description: 'A unique identifier generated by Global Payments to identify
            the Merchant''s transaction processing configuration. example: ''TRA_cf4e1008-c921-4096-bec9-2372cb9476d8''
            maximum: 50'
        account_name:
          type: string
          description: A meaningful label generated by Global Payments to identify
            the Merchant's configuration account.
          example: TEST_CONFIG
        time_created:
          type: string
          description: Global Payments time indicating when the Dispute was first
            created. Value is in ISO-8601 format and in UTC.
          example: 2020-02-22T10:24:43.999Z
        status:
          type: string
          description: Describes where the Dispute is in its' lifecycle.
          example: WITH_MERCHANT
          enum:
          - UNDER_REVIEW
          - WITH_MERCHANT
          - CLOSED
        status_time_created:
          type: string
          description: Time the current Dispute status was created.
          example: 2020-02-22T10:24:43.999Z
        stage:
          type: string
          description: Describes where the Dispute is in its' lifecycle.
          example: SECOND_CHARGEBACK
          enum:
          - RETRIEVAL
          - CHARGEBACK
          - REVERSAL
          - SECOND_CHARGEBACK
          - PRE_ARBITRATION
          - ARBITRATION
          - PRE_COMPLIANCE
          - COMPLIANCE
          - GOODFAITH
        stage_time_created:
          type: string
          description: Time the current Dispute stage was created.
          example: 2020-02-22T10:24:43.999Z
        amount:
          type: string
          description: The amount the merchant is currently liable for the dispute.
          example: "1999"
        currency:
          type: string
          description: The currency of the amount. This is in the currency the merchant
            is affected in.
          example: USD
          enum:
          - USD
          - CAD
          - SBD
          - EUR
          - JPY ...
        payer_amount:
          type: string
          description: The amount the Payer is challenging for in Payer's currency.
          example: "1999"
        payer_currency:
          type: string
          description: The currency of the Payer.
          example: USD
          enum:
          - USD
          - CAD
          - SBD
          - EUR
          - JPY
          - etc.
        merchant_amount:
          type: string
          description: The amount the Payer is challenging for in the merchant's currency.
          example: "1999"
        merchant_currency:
          type: string
          description: The currency of the merchant.
          example: USD
          enum:
          - USD
          - CAD
          - SBD
          - EUR
          - JPY
          - etc.
        reason_code:
          type: string
          description: A code indicating the reason for the dispute.
          example: NON_DELIVERY
          enum:
          - FRAUD
          - NON_DELIVERY
          - GOODS_BROKEN...
        reason_description:
          type: string
          description: 'Text further explaining the reason for the dispute. '
          example: Payer never got the goods
        time_to_respond_by:
          type: string
          description: Time the Merchant has to respond to the Dispute.
          example: 2020-02-22T10:24:43.761Z
        result:
          type: string
          description: 'Indicates the result of the Dispute. '
          enum:
          - PENDING
          - FULFILLED
          - WON
          - LOST
          - ACCEPTED
        investigator_comment:
          type: string
          description: Last comment submitted for this Dispute.
          example: Accept the dispute.
        system:
          type: object
          properties:
            mid:
              type: string
              description: MAS assigned merchant_id
              example: "1474961.0"
            hierarchy:
              type: string
              description: MAS assigned merchant_hierarchy
              example: 055-70-001-002-AAA
            name:
              type: string
              description: MAS assigned merchant name to system.mid.
              example: ABC Inc. Ltd.
        last_adjustment_amount:
          type: string
          description: The total amount the Merchant has been financially impacted
            by this Dispute.
          example: "1999"
        last_adjustment_currency:
          type: string
          description: 'The currency of the financial impact amount. '
          example: USD
          enum:
          - USD
          - CAD
          - SBD
          - EUR
          - JPY
          - etc.
        last_adjustment_funding:
          type: string
          description: 'Indicates if the last financial adjustment is a Debit or Credit
            to Merchant''s bank account. '
          example: DEBIT
          enum:
          - DEBIT
          - CREDIT
        last_adjustment_time_created:
          type: string
          description: Time the last adjustment was created.
          example: 2020-02-22T10:24:43.761Z
        net_financial_amount:
          type: string
          description: The total amount the Merchant has been financially impacted
            by this Dispute.
          example: "1999"
        net_financial_currency:
          type: string
          description: 'The currency of the financial impact amount. '
          example: USD
          enum:
          - USD
          - CAD
          - SBD
          - EUR
          - JPY
          - etc.
        net_financial_funding:
          type: string
          description: Indicates if the total amount impacted is a Debit or Credit
            to Merchant's bank account.
          example: DEBIT
          enum:
          - DEBIT
          - CREDIT
          - NONE
        payment_method_provider:
          type: array
          items:
            type: object
            properties:
              comment:
                type: string
                description: A comment in relation to the dispute from the payment
                  method provider.
                example: Payer never got the goods
              reference:
                type: string
                description: The payment method provider's reference for the dispute.
                example: CASE_NO_23423863
              documents:
                type: array
                description: A list of evidence provided by the Merchant that relate
                  to the Dispute.
                items:
                  $ref: '#/components/schemas/Document'
            description: A set of data associated with the payment method provider
              for this Dispute including their comment, documents and id for this
              dispute.
        transaction:
          type: object
          properties:
            time_created:
              type: string
              description: Global Payments time indicating when the Transaction was
                first created. Value is in ISO-8601 format and in UTC.
            type:
              type: string
              description: Describes whether the transaction is a SALE, that moves
                funds from Payer to Merchant, or a REFUND where funds move from Merchant
                to Payer.
              enum:
              - SALE
              - REFUND
            amount:
              type: string
              description: The amount the transaction can transfer from Payer to Merchant
                for a SALE or vice versa for a REFUND.
              example: "1999"
            currency:
              type: string
              description: The currency of the amount.
              example: USD
              enum:
              - USD
              - CAD
              - SBD
              - EUR
              - JPY
              - etc.
            reference:
              type: string
              description: Merchant defined field to reference the Transaction.
              example: MY-TRANS-20190924123456
            remarks:
              type: string
              description: Merchant field to document remarks about the original Transaction.
              example: MY-TRANS-REMARKS
            payment_method:
              type: object
              properties:
                card:
                  type: object
                  properties:
                    number:
                      type: string
                      description: The the card account number used to authorize the
                        Transaction.
                    arn:
                      type: string
                      description: Global Payments reference sent to payment method
                        provider for a Transaction.
                    brand:
                      type: string
                      description: Indicates the card brand that issued the card.
                      enum:
                      - VISA
                      - MASTERCARD
                      - AMEX
                      - DINERS
                      - DISCOVER
                      - JCB
                    authcode:
                      type: string
                      description: Card Authorization code for successfully authorized
                        transactions.
                    brand_reference:
                      type: string
                      description: Card brand reference for this transaction.
                  description: Data relating to the card payment method.
          description: Information about the original Sale Transaction the Dispute
            relates to.
        documents:
          type: array
          description: A list of evidence provided by the Merchant that relate to
            the Dispute.
          items:
            $ref: '#/components/schemas/Document'
        action:
          $ref: '#/components/schemas/ResponseAction'
    AcceptDisputeResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the Dispute on the Global Payments system.
          example: DIS_lskdnfosdfjsdfsdf23daaa
        status:
          type: string
          description: 'Describes where the Dispute is in its'' lifecycle. '
          example: CLOSED
          enum:
          - UNDER_REVIEW
          - WITH_MERCHANT
          - CLOSED
        stage:
          type: string
          description: Describes where the Dispute is in its' lifecycle.
          example: SECOND_CHARGEBACK
          enum:
          - RETRIEVAL
          - CHARGEBACK
          - REVERSAL
          - SECOND_CHARGEBACK
          - PRE_ARBITRATION
          - ARBITRATION
          - PRE_COMPLIANCE
          - COMPLIANCE
          - GOODFAITH
        amount:
          type: string
          description: The amount the merchant is currently liable for the dispute.
          example: "1999"
        currency:
          type: string
          description: The currency of the amount. This is in the currency the merchant
            is affected in.
          example: USD
          enum:
          - USD
          - CAD
          - SBD
          - EUR
          - JPY ...
        reason_code:
          type: string
          description: A code indicating the reason for the dispute.
          example: NON_DELIVERY
          enum:
          - FRAUD
          - NON_DELIVERY
          - GOODS_BROKEN...
        reason_description:
          type: string
          description: Text further explaining the reason for the dispute.
          example: Payer never got the goods
        result:
          type: string
          description: Indicates the result of the Dispute.
          example: ACCEPTED
          enum:
          - PENDING
          - FULFILLED
          - WON
          - LOST
          - ACCEPTED
        action:
          $ref: '#/components/schemas/ResponseAction'
    ChallengeDisputeRequest:
      type: object
      properties:
        documents:
          type: array
          description: A list of evidence provided by the Merchant that relate to
            the Dispute.
          items:
            $ref: '#/components/schemas/SubmitDocument'
    ChallengeDisputeResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the Dispute on the Global Payments system.
          example: DIS_lskdnfosdfjsdfsdf23dasd
        status:
          type: string
          description: Describes where the Dispute is in its' lifecycle.
          example: WITH_MERCHANT
          enum:
          - UNDER_REVIEW
          - WITH_MERCHANT
          - CLOSED
        stage:
          type: string
          description: Describes where the Dispute is in its' lifecycle.
          example: SECOND_CHARGEBACK
          enum:
          - RETRIEVAL
          - CHARGEBACK
          - REVERSAL
          - SECOND_CHARGEBACK
          - PRE_ARBITRATION
          - ARBITRATION
          - PRE_COMPLIANCE
          - COMPLIANCE
          - GOODFAITH
        amount:
          type: string
          description: The amount the merchant is currently liable for the dispute.
          example: "1999"
        currency:
          type: string
          description: The currency of the amount. This is in the currency the merchant
            is affected in.
          example: USD
          enum:
          - USD
          - CAD
          - SBD
          - EUR
          - JPY ...
        result:
          type: string
          description: Indicates the result of the Dispute.
          enum:
          - PENDING
          - FULFILLED
          - WON
          - LOST
          - ACCEPTED
        documents:
          type: array
          description: A list of evidence provided by the Merchant that relate to
            the Dispute.
          items:
            $ref: '#/components/schemas/Document'
        action:
          $ref: '#/components/schemas/ResponseAction'
    DisputeListResponse:
      type: object
      properties:
        total_count:
          maximum: 1E+1
          type: number
          description: The total number of records in the returned list across all
            pages.
          example: 12.0
        merchant_id:
          type: string
          description: A unique identifier generated by Global Payments to identify
            the Merchant.
          example: MER_62251730c5574bbcb268191b5f315de8
        merchant_name:
          type: string
          description: A meaningful label generated by Global Payments to identify
            the Merchant.
          example: TEST_MERCHANT
        account_id:
          type: string
          description: 'A unique identifier generated by Global Payments to identify
            the Merchant''s transaction processing configuration. example: ''TRA_cf4e1008-c921-4096-bec9-2372cb9476d8''
            maximum: 50'
        account_name:
          type: string
          description: A meaningful label generated by Global Payments to identify
            the Merchant's configuration account.
          example: TEST_CONFIG
        filter:
          $ref: '#/components/schemas/filter_obj'
        paging:
          $ref: '#/components/schemas/paging_obj'
        disputes:
          type: array
          description: A list of Dispute records for this page.
          items:
            $ref: '#/components/schemas/DisputeListItemResponse'
    DisputeListItemResponse:
      type: object
      properties:
        id:
          type: string
          description: Uniquely identifier for the Dispute on the Global Payments
            system
          example: DIS_lskdnfosdfjsdfsdf23dasd
        status:
          type: string
          description: Describes where the Dispute is in its' lifecycle.
          example: WITH_MERCHANT
          enum:
          - UNDER_REVIEW
          - WITH_MERCHANT
          - CLOSED
        stage:
          type: string
          description: 'Describes where the Dispute is in its'' lifecycle. '
          example: SECOND_CHARGEBACK
          enum:
          - RETRIEVAL
          - CHARGEBACK
          - REVERSAL
          - SECOND_CHARGEBACK
          - PRE_ARBITRATION
          - ARBITRATION
          - PRE_COMPLIANCE
          - COMPLIANCE
          - GOODFAITH
        stage_time_created:
          type: string
          description: Time the Dispute moved to the current stage.
          example: 2020-02-22T10:24:43.999Z
        amount:
          type: string
          description: The amount the merchant is currently liable for the dispute.
          example: "1999"
        currency:
          type: string
          description: The currency of the amount. This is in the currency the merchant
            is affected in.
          example: USD
          enum:
          - USD
          - CAD
          - SBD
          - EUR
          - JPY
          - etc.
        system:
          type: object
          properties:
            mid:
              type: string
              description: MAS assigned merchant_id
              example: "1474961.0"
            hierarchy:
              type: string
              description: MAS assigned merchant_hierarchy
              example: 055-70-001-002-AAA
            name:
              type: string
              description: MAS assigned merchant_name
              example: TEST MERCHANT
        reason_code:
          type: string
          description: A code indicating the reason for the dispute.
          example: NON_DELIVERY
          enum:
          - FRAUD
          - NON_DELIVERY
          - GOODS_BROKEN etc.
        reason_description:
          type: string
          description: Text further explaining the reason for the dispute.
          example: Payer never got the goods
        time_to_respond_by:
          type: string
          description: Time the Merchant has to respond to the Dispute.
          example: 2020-02-22T10:24:43.761Z
        result:
          type: string
          description: Indicates the result of the Dispute.
          enum:
          - PENDING
          - WON
          - LOST
          - ACCEPTED
        last_adjustment_amount:
          type: string
          description: The total amount the Merchant has been financially impacted
            by this Dispute.
          example: "1999"
        last_adjustment_currency:
          type: string
          description: 'The currency of the financial impact amount. '
          example: USD
          enum:
          - USD
          - CAD
          - SBD
          - EUR
          - JPY
          - etc.
        last_adjustment_funding:
          type: string
          description: Indicates if the total amount impacted is a Debit or Credit
            to Merchant's bank account.
          example: DEBIT
          enum:
          - DEBIT
          - CREDIT
          - NONE
        payment_method:
          type: object
          properties:
            card:
              type: object
              properties:
                number:
                  type: string
                  description: Transaction card number(Masked)
                  example: 373500XXXXX1250
                arn:
                  type: string
                  description: Transaction Acquirer Reference Number
                  example: "37351966051461663081250"
                brand:
                  type: string
                  description: Transaction Card Brand
                  example: AMEX
        action:
          $ref: '#/components/schemas/ResponseAction'
    SettlementDisputeListResponse:
      type: object
      properties:
        total_count:
          maximum: 1E+1
          type: number
          description: The total number of records in the returned list across all
            pages.
          example: 12.0
        merchant_id:
          type: string
          description: A unique identifier generated by Global Payments to identify
            the Merchant.
          example: MER_62251730c5574bbcb268191b5f315de8
        merchant_name:
          type: string
          description: A meaningful label generated by Global Payments to identify
            the Merchant.
          example: TEST_MERCHANT
        account_id:
          type: string
          description: 'A unique identifier generated by Global Payments to identify
            the Merchant''s transaction processing configuration. example: ''TRA_cf4e1008-c921-4096-bec9-2372cb9476d8''
            maximum: 50'
        account_name:
          type: string
          description: A meaningful label generated by Global Payments to identify
            the Merchant's configuration account.
          example: TEST_CONFIG
        filter:
          $ref: '#/components/schemas/filter_obj'
        paging:
          $ref: '#/components/schemas/paging_obj'
        disputes:
          type: array
          description: A list of Dispute records for this page.
          items:
            $ref: '#/components/schemas/SettlementDisputeListItemResponse'
    SettlementDisputeListItemResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the Dispute on the Global Payments system
          example: DIS_lskdnfosdfjsdfsdf23dasd
        status:
          type: string
          description: Describes where the Dispute is in its' lifecycle.
          example: WITH_MERCHANT
          enum:
          - UNDER_REVIEW
          - WITH_MERCHANT
          - CLOSED
        stage:
          type: string
          description: Describes where the Dispute is in its' lifecycle.
          example: SECOND_CHARGEBACK
          enum:
          - RETRIEVAL
          - CHARGEBACK
          - REVERSAL
          - SECOND_CHARGEBACK
          - PRE_ARBITRATION
          - ARBITRATION
          - PRE_COMPLIANCE
          - COMPLIANCE
          - GOODFAITH
        stage_time_created:
          type: string
          description: Time the Dispute moved to the current stage.
          example: 2020-02-22T10:24:43.999Z
        funding_type:
          type: string
          description: Indicates if the Deposit was a Debit or Credit to the Merchants
            bank account.
          example: CREDIT
          enum:
          - DEBIT
          - CREDIT
        deposit_id:
          type: string
          description: A unique identifier generated by Global Payments to identify
            the Deposit.
          example: DEP_2342423423
        deposit_time_created:
          type: string
          description: Global Payments time indicating when the Deposit was created.
            Value is in ISO-8601 format and in UTC.
        amount:
          type: string
          description: The amount the merchant is currently liable for the dispute.
          example: "1999"
        currency:
          type: string
          description: The currency of the amount. This is in the currency the merchant
            is affected in.
          example: USD
          enum:
          - USD
          - CAD
          - SBD
          - EUR
          - JPY
          - etc.
        system:
          type: object
          properties:
            mid:
              type: string
              description: MAS assigned merchant_id
              example: "1474961.0"
            hierarchy:
              type: string
              description: MAS assigned merchant_hierarchy
              example: 055-70-001-002-AAA
            name:
              type: string
              description: MAS assigned merchant_name
              example: TEST MERCHANT
        reason_code:
          type: string
          description: A code indicating the reason for the dispute.
          example: NON_DELIVERY
          enum:
          - FRAUD
          - NON_DELIVERY
          - GOODS_BROKEN etc.
        reason_description:
          type: string
          description: Text further explaining the reason for the dispute.
          example: Payer never got the goods
        time_to_respond_by:
          type: string
          description: Time the Merchant has to respond to the Dispute.
          example: 2020-02-22T10:24:43.761Z
        result:
          type: string
          description: Indicates the result of the Dispute.
          enum:
          - PENDING
          - WON
          - LOST
          - ACCEPTED
        last_adjustment_amount:
          type: string
          description: The total amount the Merchant has been financially impacted
            by this Dispute.
          example: "1999"
        last_adjustment_currency:
          type: string
          description: 'The currency of the financial impact amount. '
          example: USD
          enum:
          - USD
          - CAD
          - SBD
          - EUR
          - JPY
          - etc.
        last_adjustment_funding:
          type: string
          description: Indicates if the total amount impacted is a Debit or Credit
            to Merchant's bank account.
          example: DEBIT
          enum:
          - DEBIT
          - CREDIT
          - NONE
        last_adjustment_time_created:
          type: string
          description: Time the last adjustment was created.
          example: 2020-02-22T10:24:43.761Z
        transaction:
          type: object
          properties:
            time_created:
              type: string
              description: Global Payments time indicating when the Transaction was
                first created. Value is in ISO-8601 format and in UTC.
            merchant_time_created:
              type: string
              description: The time the merchant set when the transaction was processed
                when the Transaction was first created.
            type:
              type: string
              description: Describes whether the transaction is a SALE, that moves
                funds from Payer to Merchant, or a REFUND where funds move from Merchant
                to Payer.
              enum:
              - SALE
              - REFUND
            amount:
              type: string
              description: The amount the transaction can transfer from Payer to Merchant
                for a SALE or vice versa for a REFUND.
              example: "1999"
            currency:
              type: string
              description: The currency of the amount.
              example: USD
              enum:
              - USD
              - CAD
              - SBD
              - EUR
              - JPY
              - etc.
            reference:
              type: string
              description: Merchant defined field to reference the Transaction.
              example: MY-TRANS-20190924123456
            payment_method:
              type: object
              properties:
                card:
                  type: object
                  properties:
                    masked_number_first6last4:
                      type: string
                      description: The masked card account number, showing the first
                        6 and the last 4 digits.
                    arn:
                      type: string
                      description: Global Payments reference sent to payment method
                        provider for a Transaction.
                    brand:
                      type: string
                      description: Indicates the card brand that issued the card.
                      enum:
                      - VISA
                      - MASTERCARD
                      - AMEX
                      - DINERS
                      - DISCOVER
                      - JCB
                    authcode:
                      type: string
                      description: Card Authorization code for successfully authorized
                        transactions.
                    brand_reference:
                      type: string
                      description: Card brand reference for this transaction.
                  description: Data relating to the card payment method.
          description: Information about the original Sale Transaction the Dispute
            relates to.
        action:
          $ref: '#/components/schemas/ResponseAction'
    GetDocument:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the document on the Global Payments system
          example: DOC_lskdnfosdfjsdfsdf23dasd
        b64_content:
          type: string
          description: The document represented as a base64 encoded string.
        action:
          $ref: '#/components/schemas/ResponseAction'
    Document:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the document on the Global Payments system
          example: DOC_lskdnfosdfjsdfsdf23dasd
    SubmitDocument:
      required:
      - b64_content
      type: object
      properties:
        type:
          type: string
          description: Describes the type of evidence this document relates to.
          example: SALES_RECEIPT
          enum:
          - SALES_RECEIPT
          - PROOF_OF_DELIVERY
          - REFUND_POLICY
          - TERMS_AND_CONDITIONS
          - CANCELLATION_POLICY
          - OTHER
        b64_content:
          type: string
          description: The document represented as a base64 encoded string.
          example: R0lGODlhigPCAXAAACwAAAAAigPCAYf///8AQnv
    ResponseAction:
      type: object
      properties:
        id:
          type: string
          description: A unique identifier generated by Global Payments to identify
            the Action.
          example: ACT_5blBTHnIs4aOCIvGwG7KizYUpsGI0g
        type:
          type: string
          description: Indicates the action taken.
          example: ACCEPT
          enum:
          - CHALLENGE
          - ACCEPT
          - DISPUTE_SINGLE
          - DISPUTE_LIST
          - DOCUMENT_SINGLE
        time_created:
          type: string
          description: Global Payments time indicating when the Action was executed.
            Value is in ISO-8601 format and in UTC.
        result_code:
          type: string
          description: 'The result of the action executed. '
          enum:
          - SUCCESS
          - DECLINE
        app_id:
          type: string
          description: The App id used to create the token for this request.
        app_name:
          type: string
          description: The App Name used to create the token for this request.
    filter_obj:
      type: object
      properties:
        name:
          type: string
          description: The name and value of the field used to search the list.
          example: Value of name used to search the list
      description: A name value list of the fields and field values used to filter
        the list of resource objects.
    paging_obj:
      type: object
      properties:
        page:
          type: string
          description: 'Indicates the page sequence to return in the response. The
            number of records presented on each page is determined by page_size field. '
          example: "1"
          default: "1"
        page_size:
          maximum: 1E+2
          minimum: 1
          type: number
          description: The total number of objects to return in a single page for
            that list
          example: 1000.0
        order_by:
          type: string
          description: The value to order the entire list by.
          example: TIME_CREATED
          enum:
          - TIME_CREATED
          - STATUS
          - TYPE
          - DEPOSIT_ID
        order:
          type: string
          description: The direction of the ordering of the entire list, ASC or DESC
          example: ASC
          enum:
          - ASC
          - DESC
      description: The paging values used for this action.
    errorhttp400:
      type: object
      properties:
        error_code:
          type: string
          description: This action failed due to something being wrong with the API
            request.
          example: MANDATORY_DATA_MISSING
          default: MANDATORY_DATA_MISSING
          enum:
          - DUPLICATE_TRANSACTION
          - INVALID_BATCH_ACTION
          - INVALID_REQUEST_DATA
          - INVALID_TRANSACTION_ACTION
          - MANDATORY_DATA_MISSING
          - TRANSACTION_NOT_FOUND
        detailed_error_code:
          type: string
          description: Unique reference to identify the error.
          example: "40016"
          enum:
          - 4xxxx Range
        detailed_error_description:
          type: string
          description: Unique Text describing the specific error.
          example: Bad track data
    errorhttp401:
      type: object
      properties:
        error_code:
          type: string
          description: This action failed as token in the request is not valid.
          example: NOT_AUTHENTICATED
          default: NOT_AUTHENTICATED
          enum:
          - NOT_AUTHENTICATED
        detailed_error_code:
          type: string
          description: Unique reference to identify the error.
          example: "40001"
          enum:
          - 4xxxx Range
          - "40001"
          - "40002"
        detailed_error_description:
          type: string
          description: Unique Text describing the specific error.
          example: Invalid Access Token
    errorhttp403:
      type: object
      properties:
        error_code:
          type: string
          description: This action is not authorized with the credentials being used.
          example: ACTION_NOT_AUTHORIZED
          enum:
          - ACTION_NOT_AUTHORIZED
        detailed_error_code:
          type: string
          description: Unique reference to identify the error.
          example: "40003"
          enum:
          - 4xxxx Range
          - "40003"
          - "40004"
        detailed_error_description:
          type: string
          description: Unique Text describing the specific error.
          example: Permission not enabled to execute action
    errorhttp500:
      type: object
      properties:
        error_code:
          type: string
          description: This indicates an unexpected issue occurred on the Global Payments
            system.
          example: SYSTEM_ERROR_DOWNSTREAM
          enum:
          - SYSTEM_ERROR_DOWNSTREAM
        detailed_error_code:
          type: string
          description: Unique reference to identify the error.
          example: "50011"
          enum:
          - 5xxxx Range
        detailed_error_description:
          type: string
          description: Unique Text describing the specific error.
          example: Processor Configuration error
    errorhttp501:
      type: object
      properties:
        error_code:
          type: string
          description: This is an error not yet handled or mapped properly.
          example: UNKNOWN_RESPONSE
          enum:
          - UNKNOWN_RESPONSE
        detailed_error_code:
          type: string
          description: Unique reference to identify the error.
          example: "50012"
          enum:
          - "50012"
        detailed_error_description:
          type: string
          description: 'Unique Text describing the specific error not yet handled.      '
    errorhttp502:
      type: object
      properties:
        error_code:
          type: string
          description: This is an error indicating there was an issue connecting to
            a partner system..
          example: UNAUTHORIZED_DOWNSTREAM
          enum:
          - UNAUTHORIZED_DOWNSTREAM
        detailed_error_code:
          type: string
          description: Unique reference to identify the error.
          example: "50002"
          enum:
          - 5xxxx Range
        detailed_error_description:
          type: string
          description: Authentication error—Verify and correct credentials.
    errorhttp504:
      type: object
      properties:
        error_code:
          type: string
          description: This is an error indicating there was a timeout issue to another  system.
          example: TIMEOUT_DOWNSTREAM
          enum:
          - TIMEOUT_DOWNSTREAM
        detailed_error_code:
          type: string
          description: Unique reference to identify the error.
          example: "50008"
          enum:
          - 5xxxx Range
        detailed_error_description:
          type: string
          description: No response from payment method provider.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Authorization header using the Bearer scheme.  Example: ''Authorization:
        Bearer {token}'''

