openapi: 3.0.1
info:
  title: Payment Methods
  description: Payment Method storage is the Global Payments service where sensitive
    information is securely stored in exchange for a Global Payments generated identifier.
    This identifier, commonly referred to as a token, is then used to create Sale
    and Refund Transactions.
  version: 2020 04 10
servers:
- url: https://apis.sandbox.globalpay.com/ucp
security:
- bearerAuth: []
tags: []
paths:
  /payment-methods:
    get:
      tags:
      - Read
      summary: Return a list of stored payment methods.
      description: Return a list of stored payment methods.
      parameters:
      - name: Authorization
        in: header
        description: The Bearer token used when executing this action.
        required: true
        schema:
          type: string
          default: Bearer YX06YElOGvuMmj3mtNhmGYVujpCs
      - name: X-GP-Version
        in: header
        description: Indicates the version of the GP API for this message.
        required: true
        schema:
          type: string
          default: "2020-04-10"
      - name: Accept
        in: header
        description: Expected format of the response message.
        schema:
          type: string
          default: application/json
      - name: Content-type
        in: header
        description: Format of the message.
        required: true
        schema:
          type: string
          default: application/json
      - name: Accept-Encoding
        in: header
        description: Compression algorithm user can accept in the response to this
          request.
        schema:
          type: string
          default: gzip
      - name: X-GP-Idempotency
        in: header
        description: Field submitted in the request that is used to ensure idempotency
          is maintain with this action.
        schema:
          type: string
      - name: page
        in: query
        description: Indicates the page sequence to return in the list response. 1
          represents the first page, 2 the second and so on.
        schema:
          maximum: 1000
          minimum: 1
          type: number
      - name: page_size
        in: query
        description: The total number of objects to return in a single page for that
          list
        schema:
          maximum: 1000
          minimum: 1
          type: number
      - name: order_by
        in: query
        description: 'The value to order the entire list by. '
        schema:
          type: string
          enum:
          - TIME_CREATED
      - name: order
        in: query
        description: The direction of the ordering of the entire list, ASC or DESC
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - name: id
        in: query
        description: 'The id of the stored payment method. '
        schema:
          type: string
      - name: status
        in: query
        description: The stored payment method status to return.
        schema:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
          - DELETED
      - name: from_time_created
        in: query
        description: Search from a time range, using the stored payment method time
          created value.
        schema:
          type: string
          default: "2020-06-05"
      - name: to_time_created
        in: query
        description: Search to a time range, using the stored payment method time
          created value.
        schema:
          type: string
          default: "2020-06-12"
      - name: from_time_last_updated
        in: query
        description: Search from a time range, using the stored payment method time
          created value.
        schema:
          type: string
      - name: to_time_last_updated
        in: query
        description: Search to a time range, using the stored payment method time
          created value.
        schema:
          type: string
      - name: reference
        in: query
        description: The merchant's reference to the stored payment method.
        schema:
          type: string
      - name: number_last4
        in: query
        description: The last 4 of card number.
        schema:
          type: string
      responses:
        200:
          description: Success
          headers:
            Content-type:
              description: Format of the message.
              schema:
                type: string
                default: application/json
            Content-Encoding:
              description: Compression algorithm used in the response.
              schema:
                type: string
            X-GP-Version:
              description: Indicates the version of the GP API for this message.
              schema:
                type: string
                default: "2020-04-10"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_list_res'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp400'
        401:
          description: Not Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp401'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp403'
        404:
          description: Resource Not Found
          content: {}
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp500'
        501:
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp501'
        502:
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp502'
        504:
          description: Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp504'
    post:
      tags:
      - Create
      summary: Create a stored payment method on the Global Payments system and return
        a unique Global Payments ID  that can be used to create future Sale or Refund
        Transactions.
      description: Create a stored payment method on the Global Payments system and
        return a unique Global Payments ID  that can be used to create future Sale
        or Refund Transactions.
      parameters:
      - name: Authorization
        in: header
        description: The Bearer token used when executing this action.
        required: true
        schema:
          type: string
          default: Bearer YX06YElOGvuMmj3mtNhmGYVujpCs
      - name: X-GP-Version
        in: header
        description: Indicates the version of the GP API for this message.
        required: true
        schema:
          type: string
          default: "2020-04-10"
      - name: Accept
        in: header
        description: Expected format of the response message.
        schema:
          type: string
          default: application/json
      - name: Content-type
        in: header
        description: Format of the message.
        required: true
        schema:
          type: string
          default: application/json
      - name: Accept-Encoding
        in: header
        description: Compression algorithm user can accept in the response to this
          request.
        schema:
          type: string
          default: gzip
      - name: X-GP-Idempotency
        in: header
        description: Field submitted in the request that is used to ensure idempotency
          is maintain with this action.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_pm_req'
        required: true
      responses:
        200:
          description: Success
          headers:
            Content-type:
              description: Format of the message.
              schema:
                type: string
                default: application/json
            Content-Encoding:
              description: Compression algorithm used in the response.
              schema:
                type: string
            X-GP-Version:
              description: Indicates the version of the GP API for this message.
              schema:
                type: string
                default: "2020-04-10"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_pm_res'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp400'
        401:
          description: Not Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp401'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp403'
        404:
          description: Resource Not Found
          content: {}
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp500'
        501:
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp501'
        502:
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp502'
        504:
          description: Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp504'
      x-codegen-request-body-name: Request Body
  /payment-methods/{id}:
    get:
      tags:
      - Read
      summary: Return a single view of a stored payment method.
      description: Return a single view of a stored payment method.
      parameters:
      - name: Authorization
        in: header
        description: The Bearer token used when executing this action.
        required: true
        schema:
          type: string
          default: Bearer YX06YElOGvuMmj3mtNhmGYVujpCs
      - name: X-GP-Version
        in: header
        description: Indicates the version of the GP API for this message.
        required: true
        schema:
          type: string
          default: "2020-04-10"
      - name: Accept
        in: header
        description: Expected format of the response message.
        schema:
          type: string
          default: application/json
      - name: Content-type
        in: header
        description: Format of the message.
        required: true
        schema:
          type: string
          default: application/json
      - name: Accept-Encoding
        in: header
        description: Compression algorithm user can accept in the response to this
          request.
        schema:
          type: string
          default: gzip
      - name: X-GP-Idempotency
        in: header
        description: Field submitted in the request that is used to ensure idempotency
          is maintain with this action.
        schema:
          type: string
      - name: id
        in: path
        description: 'The id of the stored payment method. '
        required: true
        schema:
          type: string
          default: "PMT_41db09dd-784e-47f7-a5b8-39f4853fbdc0"
      responses:
        200:
          description: Success
          headers:
            Content-type:
              description: Format of the message.
              schema:
                type: string
                default: application/json
            Content-Encoding:
              description: Compression algorithm used in the response.
              schema:
                type: string
            X-GP-Version:
              description: Indicates the version of the GP API for this message.
              schema:
                type: string
                default: "2020-04-10"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment_method_list_res'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp400'
        401:
          description: Not Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp401'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp403'
        404:
          description: Resource Not Found
          content: {}
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp500'
        501:
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp501'
        502:
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp502'
        504:
          description: Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp504'
    patch:
      tags:
      - Edit
      summary: 'Change information about a stored payment method such as update the
        card expiry date or the funding type of card or the bank identifier of the
        account number. '
      description: Change information about a stored payment method such as update
        the card expiry date or the funding type of card or the bank identifier of
        the account number.
      parameters:
      - name: Authorization
        in: header
        description: The Bearer token used when executing this action.
        required: true
        schema:
          type: string
          default: Bearer YX06YElOGvuMmj3mtNhmGYVujpCs
      - name: X-GP-Version
        in: header
        description: Indicates the version of the GP API for this message.
        required: true
        schema:
          type: string
          default: "2020-04-10"
      - name: Accept
        in: header
        description: Expected format of the response message.
        schema:
          type: string
          default: application/json
      - name: Content-type
        in: header
        description: Format of the message.
        required: true
        schema:
          type: string
          default: application/json
      - name: Accept-Encoding
        in: header
        description: Compression algorithm user can accept in the response to this
          request.
        schema:
          type: string
          default: gzip
      - name: X-GP-Idempotency
        in: header
        description: Field submitted in the request that is used to ensure idempotency
          is maintain with this action.
        schema:
          type: string
      - name: id
        in: path
        description: This is the Global Payments payment method id returned when the
          payment method was first stored.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/payment_method_patch_req'
        required: true
      responses:
        200:
          description: Success
          headers:
            Content-type:
              description: Format of the message.
              schema:
                type: string
                default: application/json
            Content-Encoding:
              description: Compression algorithm used in the response.
              schema:
                type: string
            X-GP-Version:
              description: Indicates the version of the GP API for this message.
              schema:
                type: string
                default: "2020-04-10"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment_method_patch_res'
        400:
          description: Bad Request
          content: {}
        401:
          description: UnAuthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Resource Not Found
          content: {}
        500:
          description: Server
          content: {}
      x-codegen-request-body-name: Request Body
  /payment-methods/{id}/detokenize:
    post:
      tags:
      - Detokenize
      summary: 'Detokenize the stored payment method. '
      description: Detokenize the stored payment method.
      parameters:
      - name: Authorization
        in: header
        description: The Bearer token used when executing this action.
        required: true
        schema:
          type: string
          default: Bearer YX06YElOGvuMmj3mtNhmGYVujpCs
      - name: X-GP-Version
        in: header
        description: Indicates the version of the GP API for this message.
        required: true
        schema:
          type: string
          default: "2020-04-10"
      - name: Accept
        in: header
        description: Expected format of the response message.
        schema:
          type: string
          default: application/json
      - name: Content-type
        in: header
        description: Format of the message.
        required: true
        schema:
          type: string
          default: application/json
      - name: Accept-Encoding
        in: header
        description: Compression algorithm user can accept in the response to this
          request.
        schema:
          type: string
          default: gzip
      - name: X-GP-Idempotency
        in: header
        description: Field submitted in the request that is used to ensure idempotency
          is maintain with this action.
        schema:
          type: string
      - name: id
        in: path
        description: This is the Global Payments payment method id returned when the
          payment method was first stored.
        required: true
        schema:
          type: string
          default: "PMT_41db09dd-784e-47f7-a5b8-39f4853fbdc0"
      responses:
        200:
          description: Success
          headers:
            Content-type:
              description: Format of the message.
              schema:
                type: string
                default: application/json
            Content-Encoding:
              description: Compression algorithm used in the response.
              schema:
                type: string
            X-GP-Version:
              description: Indicates the version of the GP API for this message.
              schema:
                type: string
                default: "2020-04-10"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment_method_detokenize_res'
        400:
          description: Bad Request
          content: {}
        401:
          description: UnAuthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Resource Not Found
          content: {}
        500:
          description: Server
          content: {}
  /payment-methods/{id}/delete:
    post:
      tags:
      - Delete
      summary: Delete a stored payment method.
      description: Delete a stored payment method.
      parameters:
      - name: Authorization
        in: header
        description: The Bearer token used when executing this action.
        required: true
        schema:
          type: string
          default: Bearer YX06YElOGvuMmj3mtNhmGYVujpCs
      - name: X-GP-Version
        in: header
        description: Indicates the version of the GP API for this message.
        required: true
        schema:
          type: string
          default: "2020-04-10"
      - name: Accept
        in: header
        description: Expected format of the response message.
        schema:
          type: string
          default: application/json
      - name: Content-type
        in: header
        description: Format of the message.
        required: true
        schema:
          type: string
          default: application/json
      - name: Accept-Encoding
        in: header
        description: Compression algorithm user can accept in the response to this
          request.
        schema:
          type: string
          default: gzip
      - name: X-GP-Idempotency
        in: header
        description: Field submitted in the request that is used to ensure idempotency
          is maintain with this action.
        schema:
          type: string
      - name: id
        in: path
        description: 'The id of the stored payment method. '
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          headers:
            Content-type:
              description: Format of the message.
              schema:
                type: string
                default: application/json
            Content-Encoding:
              description: Compression algorithm used in the response.
              schema:
                type: string
            X-GP-Version:
              description: Indicates the version of the GP API for this message.
              schema:
                type: string
                default: "2020-04-10"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment_method_delete'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp400'
        401:
          description: Not Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp401'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp403'
        404:
          description: Resource Not Found
          content: {}
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp500'
        501:
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp501'
        502:
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp502'
        504:
          description: Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp504'
  /payment-methods/search:
    post:
      tags:
      - Read
      summary: Return a list of stored payment methods where search criteria is in
        the message body.
      description: Return a list of stored payment methods where search criteria is
        in the message body.
      parameters:
      - name: Authorization
        in: header
        description: The Bearer token used when executing this action.
        required: true
        schema:
          type: string
          default: Bearer YX06YElOGvuMmj3mtNhmGYVujpCs
      - name: X-GP-Version
        in: header
        description: Indicates the version of the GP API for this message.
        required: true
        schema:
          type: string
          default: "2020-04-10"
      - name: Accept
        in: header
        description: Expected format of the response message.
        schema:
          type: string
          default: application/json
      - name: Content-type
        in: header
        description: Format of the message.
        required: true
        schema:
          type: string
          default: application/json
      - name: Accept-Encoding
        in: header
        description: Compression algorithm user can accept in the response to this
          request.
        schema:
          type: string
          default: gzip
      - name: X-GP-Idempotency
        in: header
        description: Field submitted in the request that is used to ensure idempotency
          is maintain with this action.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/search_pm_req'
        required: true
      responses:
        200:
          description: Success
          headers:
            Content-type:
              description: Format of the message.
              schema:
                type: string
                default: application/json
            Content-Encoding:
              description: Compression algorithm used in the response.
              schema:
                type: string
            X-GP-Version:
              description: Indicates the version of the GP API for this message.
              schema:
                type: string
                default: "2020-04-10"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_list_res'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp400'
        401:
          description: Not Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp401'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp403'
        404:
          description: Resource Not Found
          content: {}
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp500'
        501:
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp501'
        502:
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp502'
        504:
          description: Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp504'
      x-codegen-request-body-name: Request Body
components:
  schemas:
    create_pm_req:
      required:
      - account_name
      type: object
      properties:
        account_name:
          type: string
          description: A meaningful name to identify the account being used as part
            of this action.
          example: Tokenization
        reference:
          type: string
          description: Merchant defined field to reference the stored payment method.
          example: card_default_1
        name:
          type: string
          description: Specify the name of the owner of the payment method.
        card:
          $ref: '#/components/schemas/card_tk_req'
    create_pm_res:
      type: object
      properties:
        id:
          type: string
          description: A unique identifier generated by Global Payments to identify
            the Stored Payment Method.
          example: PMT_234233234234
        time_created:
          type: string
          description: Global Payments time indicating when the Payment Method was
            first created. Value is in ISO-8601 format and in UTC.
        status:
          type: string
          description: Indicates the current state the stored Payment Method is in
            in its life-cycle.
          enum:
          - ACTIVE
          - INACTIVE
          - DELETED
        reference:
          type: string
          description: Merchant defined field to reference the Payment Method .
          example: MY-TRANS-20190924123456
          default: My-TRANS-20190924123456
        merchant_id:
          type: string
          description: A unique identifier generated by Global Payments to identify
            the Merchant.
          example: MER_c4c0df11039c48a9b63701adeaa296c3
        merchant_name:
          type: string
          description: A unique identifier generated by Global Payments to identify
            the Merchant.
          example: Sandbox_merchant_2
        account_id:
          type: string
          description: A unique identifier generated by Global Payments to identify
            the Merchant's processing configuration.
          example: TKA_eba30a1b5c4a468d90ceeef2ffff7f5e
        account_name:
          type: string
          description: A meaningful name to identify the account being used as part
            of this action.
          example: Tokenization
        card:
          $ref: '#/components/schemas/card_tk_res'
        action:
          $ref: '#/components/schemas/action'
    create_list_res:
      type: object
      properties:
        total_record_count:
          maximum: 15
          type: number
          description: The total number across all pages. Returned on the first page
            and when the date range is a month or less.
          example: 3412.0
        current_page_size:
          maximum: 15
          type: number
          description: The total number of records returned on the current page. If
            current_page_size is less than the page_size using in the query string
            then this is the final page for that search.
          example: 3412.0
        merchant_id:
          type: string
          description: A unique identifier generated by Global Payments to identify
            the Merchant.
          example: MER_c4c0df11039c48a9b63701adeaa296c3
        merchant_name:
          type: string
          description: A unique identifier generated by Global Payments to identify
            the Merchant.
          example: Sandbox_merchant_2
        account_id:
          type: string
          description: A unique identifier generated by Global Payments to identify
            the Merchant's processing configuration.
          example: TKA_eba30a1b5c4a468d90ceeef2ffff7f5e
        account_name:
          type: string
          description: A meaningful name to identify the account being used as part
            of this action.
          example: Tokenization
        payment_methods:
          type: array
          items:
            $ref: '#/components/schemas/payment_method_list_res'
        action:
          $ref: '#/components/schemas/action'
    search_pm_req:
      required:
      - account_name
      type: object
      properties:
        account_name:
          type: string
          description: A meaningful name to identify the account being used as part
            of this action.
          example: Tokenization
        card:
          $ref: '#/components/schemas/card_tk_search_req'
    payment_method_list_res:
      type: object
      properties:
        id:
          type: string
          description: A unique identifier generated by Global Payments to identify
            the Stored Payment Method.
          example: PMT_234233234234
        time_created:
          type: string
          description: Global Payments time indicating when the stored Payment Method  was
            first created. Value is in ISO-8601 format and in UTC.
        status:
          type: string
          description: Indicates the current state the stored Payment Method is in
            in its life-cycle.
          enum:
          - ACTIVE
          - INACTIVE
          - DELETED
        reference:
          type: string
          description: Merchant defined field to reference the Payment Method.
          example: MY-TRANS-20190924123456
          default: My-TRANS-20190924123456
        card:
          $ref: '#/components/schemas/card_tk_res'
    payment_method_patch_req:
      type: object
      properties:
        reference:
          type: string
          description: Merchant defined field to reference the stored payment method.
          example: card_default_1
        name:
          type: string
          description: Specify the name of the owner of the payment method.
        card:
          $ref: '#/components/schemas/card_tk_req'
    payment_method_patch_res:
      type: object
      properties:
        id:
          type: string
          description: A unique identifier generated by Global Payments to identify
            the Stored Payment Method.
          example: PMT_234233234234
        time_created:
          type: string
          description: Global Payments time indicating when the Payment Method was
            first created. Value is in ISO-8601 format and in UTC.
        status:
          type: string
          description: Indicates the current state the Payment Method is in in its
            life-cycle.
          enum:
          - ACTIVE
          - INACTIVE
          - DELETED
        reference:
          type: string
          description: Merchant defined field to reference the stored payment method.
          example: card_default_1
          default: ""
        name:
          type: string
          description: Specify the name of the owner of the payment method.
        card:
          $ref: '#/components/schemas/card_tk_res'
        action:
          $ref: '#/components/schemas/action'
    payment_method_detokenize_res:
      type: object
      properties:
        id:
          type: string
          description: A unique identifier generated by Global Payments to identify
            the Stored Payment Method.
          example: PMT_234233234234
        time_created:
          type: string
          description: Global Payments time indicating when the Payment Method was
            first created. Value is in ISO-8601 format and in UTC.
        status:
          type: string
          description: Indicates the current state the Payment Method is in in its
            life-cycle.
          enum:
          - ACTIVE
          - INACTIVE
          - DELETED
        reference:
          type: string
          description: Merchant defined field to reference the stored payment method.
          example: card_default_1
          default: ""
        name:
          type: string
          description: Specify the name of the owner of the payment method.
        card:
          $ref: '#/components/schemas/card_detokenize_res'
        action:
          $ref: '#/components/schemas/action'
    payment_method_delete:
      type: object
      properties:
        id:
          type: string
          description: A unique identifier generated by Global Payments to identify
            the Stored Payment Method.
          example: PMT_234233234234
        time_created:
          type: string
          description: Global Payments time indicating when the Payment Method was
            first created. Value is in ISO-8601 format and in UTC.
        status:
          type: string
          description: Indicates the current state the Payment Method is in in its
            life-cycle.
          enum:
          - ACTIVE
          - INACTIVE
          - DELETED
        reference:
          type: string
          description: Merchant defined field to reference the stored payment method.
          example: card_default_1
          default: ""
        name:
          type: string
          description: Specify the name of the owner of the payment method.
        card:
          $ref: '#/components/schemas/card_tk_res'
        action:
          $ref: '#/components/schemas/action'
    card_tk_req:
      type: object
      properties:
        number:
          type: string
          description: 'The card account number to store. '
          example: "4263970000005262"
        expiry_month:
          type: string
          description: '2 digit expiry date month. '
          example: "12"
        expiry_year:
          type: string
          description: 2 digit expiry date year.
          example: "25"
      description: Data relating to the card payment method.
    card_tk_search_req:
      type: object
      properties:
        number:
          type: string
          description: 'The card account number to store. '
          example: "4263970000005262"
        expiry_month:
          type: string
          description: '2 digit expiry date month. '
          example: "12"
        expiry_year:
          type: string
          description: 2 digit expiry date year.
          example: "25"
      description: Data relating to the card payment method.
    card_detokenize_res:
      type: object
      properties:
        number_last4:
          type: string
          description: 'Last 4 digits of card number. minimum: 12 maximum: 19'
        brand:
          type: string
          description: Indicates the card brand that issued the card.
          enum:
          - VISA
          - MASTERCARD
          - AMEX
          - DINERS
          - DISCOVER
          - JCB
          - INTERAC
        number:
          type: string
          description: 'IIn card] The the card account number used to authorize the
            Transaction. '
        expiry_month:
          type: string
          description: '2 digit expiry date month. '
        expiry_year:
          type: string
          description: 2 digit expiry date year.
      description: Data relating to the card payment method.
    card_tk_res:
      type: object
      properties:
        number_last4:
          type: string
          description: 'Last 4 digits of card number. minimum: 12 maximum: 19'
        brand:
          type: string
          description: Indicates the card brand that issued the card.
          enum:
          - VISA
          - MASTERCARD
          - AMEX
          - DINERS
          - DISCOVER
          - JCB
          - INTERAC
        expiry_month:
          type: string
          description: '2 digit expiry date month. '
        expiry_year:
          type: string
          description: 2 digit expiry date year.
      description: Data relating to the card payment method.
    action:
      type: object
      properties:
        id:
          type: string
          description: A unique identifier generated by Global Payments to identify
            the Action.
        type:
          type: string
          description: Indicates the action taken.
          example: <ACTION TAKEN>
          enum:
          - PAYMENT_METHOD_SINGLE
          - PAYMENT_METHOD_LIST
          - PAYMENT_METHOD_CREATE
          - PAYMENT_METHOD_EDIT
          - PAYMENT_METHOD_DELETE
          - PAYMENT_METHOD_DETOKENIZE
        time_created:
          type: string
          description: Global Payments time indicating when the Action was executed.
            Value is in ISO-8601 format and in UTC.
        result_code:
          type: string
          description: The result of the action executed.
          enum:
          - SUCCESS
        app_id:
          type: string
          description: The App id used to create the token for this request.
          example: i9R0byBBor6RqTQNj3g4MuVBwH5rd7yR
        app_name:
          type: string
          description: A meaningful label to identify the API app used to execute
            the action.
          example: demo_app
      description: Information about the Action executed.
    errorhttp400:
      type: object
      properties:
        error_code:
          type: string
          description: This action failed due to something being wrong with the API
            request.
          example: MANDATORY_DATA_MISSING
          default: MANDATORY_DATA_MISSING
          enum:
          - DUPLICATE_TRANSACTION
          - INVALID_BATCH_ACTION
          - INVALID_REQUEST_DATA
          - INVALID_TRANSACTION_ACTION
          - MANDATORY_DATA_MISSING
          - TRANSACTION_NOT_FOUND
        detailed_error_code:
          type: string
          description: Unique reference to identify the error.
          example: "40016"
          enum:
          - 4xxxx Range
        detailed_error_description:
          type: string
          description: Unique Text describing the specific error.
          example: Bad track data
    errorhttp401:
      type: object
      properties:
        error_code:
          type: string
          description: This action failed as token in the request is not valid.
          example: NOT_AUTHENTICATED
          default: NOT_AUTHENTICATED
          enum:
          - NOT_AUTHENTICATED
        detailed_error_code:
          type: string
          description: Unique reference to identify the error.
          example: "40001"
          enum:
          - 4xxxx Range
          - "40001"
          - "40002"
        detailed_error_description:
          type: string
          description: Unique Text describing the specific error.
          example: Invalid Access Token
    errorhttp403:
      type: object
      properties:
        error_code:
          type: string
          description: This action is not authorized with the credentials being used.
          example: ACTION_NOT_AUTHORIZED
          enum:
          - ACTION_NOT_AUTHORIZED
        detailed_error_code:
          type: string
          description: Unique reference to identify the error.
          example: "40003"
          enum:
          - 4xxxx Range
          - "40003"
          - "40004"
        detailed_error_description:
          type: string
          description: Unique Text describing the specific error.
          example: Permission not enabled to execute action
    errorhttp500:
      type: object
      properties:
        error_code:
          type: string
          description: This indicates an unexpected issue occurred on the Global Payments
            system.
          example: SYSTEM_ERROR_DOWNSTREAM
          enum:
          - SYSTEM_ERROR_DOWNSTREAM
        detailed_error_code:
          type: string
          description: Unique reference to identify the error.
          example: "50011"
          enum:
          - 5xxxx Range
        detailed_error_description:
          type: string
          description: Unique Text describing the specific error.
          example: Processor Configuration error
    errorhttp501:
      type: object
      properties:
        error_code:
          type: string
          description: This is an error not yet handled or mapped properly.
          example: UNKNOWN_RESPONSE
          enum:
          - UNKNOWN_RESPONSE
        detailed_error_code:
          type: string
          description: Unique reference to identify the error.
          example: "50012"
          enum:
          - "50012"
        detailed_error_description:
          type: string
          description: 'Unique Text describing the specific error not yet handled.      '
    errorhttp502:
      type: object
      properties:
        error_code:
          type: string
          description: This is an error indicating there was an issue connecting to
            a partner system..
          example: UNAUTHORIZED_DOWNSTREAM
          enum:
          - UNAUTHORIZED_DOWNSTREAM
        detailed_error_code:
          type: string
          description: Unique reference to identify the error.
          example: "50002"
          enum:
          - 5xxxx Range
        detailed_error_description:
          type: string
          description: Authentication error—Verify and correct credentials.
    errorhttp504:
      type: object
      properties:
        error_code:
          type: string
          description: This is an error indicating there was a timout issue to another  system.
          example: TIMEOUT_DOWNSTREAM
          enum:
          - TIMEOUT_DOWNSTREAM
        detailed_error_code:
          type: string
          description: Unique reference to identify the error.
          example: "50008"
          enum:
          - 5xxxx Range
        detailed_error_description:
          type: string
          description: 'No response from payment method provider.           '
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Authorization header using the Bearer scheme.  Example: ''Authorization:
        Bearer {token}'''
