openapi: 3.0.1
info:
  title: Traafdgsdfgdsfgdsfg
  description: 'Access Tokens are required to execute all API actions, you can use this resource to obtain one. The authority of the bearer token; the actions it can execute, is determined by the associated Merchant ID, Accounts and Permissions of the app used to create it.'
  contact:
    name: API Integrations
    url: 'https://developer.globalpay.com/?gp-api=true'
    email: api.integrations@globalpay.com
  version: 2020 04 10
servers:
  - url: 'https://apis.sandbox.globalpay.com/ucp'
    description: Sandbox Environment
  - url: 'https://apis.globalpay.com/ucp'
    description: Production Environment
  
tags:
  - name: Get Transactions
    description: Authenticate using app credentials to use GP API.
    externalDocs:
      url: 'https://developer.globalpay.com/authentication'
security:
  - $ref: 'parameters.yaml#/components/securitySchemes/BearerAuth'
  

paths:
  /transactions:
    get:
      operationId: getRTTransactions
      tags:
      - Get Transactions
      summary: Get a list of transactions recently processed, using criteria passed in the query string. Page through the result set to access all records.
      description: Get a list of transactions recently processed, using criteria passed
        in the query string. Page through the result set to access all records.
      
      parameters:
      - $ref: 'parameters.yaml#/components/parameters/header_Authorization'
      - $ref: 'parameters.yaml#/components/parameters/header_Accept'
      - $ref: 'parameters.yaml#/components/parameters/query_pagination_page'
     
      responses:
        '200':
          description: Success
          headers:
            Content-type:
              description: Format of the message.
              schema:
                type: string
                default: application/json
            Content-Encoding:
              description: Compression algorithm used in the response.
              schema:
                type: string
            X-GP-Version:
              description: Indicates the version of the GP-API for this message.
              schema:
                type: string
                default: "2020-04-10"
          content: {}
        
        '400':
          $ref: 'errors.yaml#/components/responses/RequestInvalid_400'
        '401':
          $ref: 'errors.yaml#/components/responses/AuthenticationInvalid_401'
        '403':
          $ref: 'errors.yaml#/components/responses/NotAuthorized_403'
        '404':
              description: Resource Not Found
              content: {}
        '500':
          $ref: 'errors.yaml#/components/responses/ServerError_500'
        '501':
          $ref: 'errors.yaml#/components/responses/UnknownServerError_501'
        '502':
          $ref: 'errors.yaml#/components/responses/UnknownPlatformError_502'
        '504':
          $ref: 'errors.yaml#/components/responses/ServerTimeout_504'    



components:
  schemas:
  securitySchemes:
       
  examples:
    ECOMReq:
      value:
        account_name: Transaction_Processing
        type: SALE
        channel: CNP
        capture_mode: AUTO
        amount: "1999"
        currency: USD
        reference: 93459c78-f3f9-427c-84df-ca0584bb55bf
        description: SKU#BLK-MED-G123-GUC
        order_reference: INV#88547
        country: US
        ip_address: "123.123.123.123"
        payment_method: 
          first_name: James
          last_name: Mason
          entry_mode: ECOM
          authentication: 
            xid: vJ9NXpFueXsAqeb4iAbJJbe+66s=
            cavv: AAACBUGDZYYYIgGFGYNlAAAAAAA=
            eci: "5"
          card: 
            number: "4263970000005262"
            expiry_month: "05"
            expiry_year: "25"
            cvv: "852"
            cvv_indicator: PRESENT
            avs_address: Flat 123
            avs_postal_code: "50001"

    EMVReq:
      value:
        account_name: Transaction_Processing
        type: SALE
        channel: CP
        capture_mode: AUTO
        amount: "1999"
        currency: USD
        reference: 93459c78-f3f9-427c-84df-ca0584bb55bf
        description: SKU#BLK-MED-G123-GUC
        order_reference: INV#88547
        gratuity_amount: ""
        cashback_amount: ""
        surcharge_amount: ""
        convenience_amount: ""
        country: US
        ip_address: "123.123.123.123"
        site_reference: Site-1324
        payment_method: 
          first_name: James
          last_name: Mason
          entry_mode: CHIP
          card:
            track: "%B4012002000060016^VI TEST CREDIT^251210118039000000000396?;4012002000060016=25121011803939600000?"
            tag: "9F4005F000F0A0019F02060000000025009F03060000000000009F2608D90A06501B48564E82027C005F3401019F360200029F0702FF009F0802008C9F0902008C9F34030403029F2701809F0D05F0400088009F0E0508000000009F0F05F0400098005F280208409F390105FFC605DC4000A800FFC7050010000000FFC805DC4004F8009F3303E0B8C89F1A0208409F350122950500000080005F2A0208409A031409109B02E8009F21030811539C01009F37045EED3A8E4F07A00000000310109F0607A00000000310108407A00000000310109F100706010A03A400029F410400000001"
            funding: DEBIT
            chip_condition: ""
            pin_block: ""
            brand_reference: ""
        
    Moto_Capture_Later:
      value:
        account_name: Transaction_Processing
        type: SALE
        channel: CNP
        capture_mode: LATER
        amount: "1999"
        currency: USD
        reference: 93459c78-f3f9-427c-84df-ca0584bb55bf
        description: SKU#BLK-MED-G123-GUC
        order_reference: INV#88547
        country: US
        ip_address: "123.123.123.123"
        payment_method: 
          first_name: James
          last_name: Mason
          entry_mode: MOTO
          card: 
            number: "4263970000005262"
            expiry_month: "05"
            expiry_year: "25"
            cvv: "852"
            cvv_indicator: PRESENT
            avs_address: Flat 123
            avs_postal_code: "50001"

    Swipe:
      value:
        account_name: Transaction_Processing
        type: SALE
        channel: CP
        capture_mode: AUTO
        amount: "1999"
        currency: USD
        reference: 93459c78-f3f9-427c-84df-ca0584bb55bf
        description: SKU#BLK-MED-G123-GUC
        order_reference: INV#88547
        gratuity_amount: ""
        cashback_amount: ""
        surcharge_amount: ""
        convenience_amount: ""
        country: US
        ip_address: "123.123.123.123"
        site_reference: Site-1324
        payment_method: 
          first_name: James
          last_name: Mason
          entry_mode: SWIPE
          card: 
            track: "%B4012002000060016^VI TEST CREDIT^251210118039000000000396?;4012002000060016=25121011803939600000?"
            tag: ""
            funding: CREDIT
            chip_condition: ""
            pin_block: ""
            brand_reference: ""

    Authorization_With_Payment_Token:
      value:
        account_name: Transaction_Processing
        type: SALE
        channel: CNP
        capture_mode: AUTO
        amount: "1999"
        currency: USD
        reference: 93459c78-f3f9-427c-84df-ca0584bb55bf
        description: SKU#BLK-MED-G123-GUC
        order_reference: INV#88547
        initiator: ""
        country: US
        language: ""
        ip_address: "123.123.123.123"
        payment_method: 
          id: PMT_41db09dd-784e-47f7-a5b8-39f4853fbdc0
          first_name: James
          last_name: Mason
          entry_mode: ECOM
          authentication: 
              xid: vJ9NXpFueXsAqeb4iAbJJbe+66s=
              cavv: AAACBUGDZYYYIgGFGYNlAAAAAAA=
              eci: "5"
              mac:  ""       
    
    Stored_Credential:
      value:
        account_name: Transaction_Processing
        type: SALE
        channel: CNP
        capture_mode: AUTO
        amount: "1999"
        currency: USD
        reference: 93459c78-f3f9-427c-84df-ca0584bb55bf
        description: SKU#BLK-MED-G123-GUC
        order_reference: INV#88547
        initiator: MERCHANT
        country: US
        language: ""
        ip_address: "123.123.123.123"
        payment_method: 
          id: PMT_41db09dd-784e-47f7-a5b8-39f4853fbdc0
          first_name: James
          last_name: Mason
          entry_mode: ECOM
          authentication: 
              xid: vJ9NXpFueXsAqeb4iAbJJbe+66s=
              cavv: AAACBUGDZYYYIgGFGYNlAAAAAAA=
              eci: "5"
              mac: ""
        stored_credential: 
          model: SUBSCRIPTION
          reason: INCREMENTAL
          sequence: SUBSEQUENT

    Installments:
      value:
        account_name: Transaction_Processing
        type: SALE
        channel: CNP
        capture_mode: AUTO
        amount: "1999"
        currency: USD
        reference: 93459c78-f3f9-427c-84df-ca0584bb55bf
        description: SKU#BLK-MED-G123-GUC
        order_reference: INV#88547
        initiator: MERCHANT
        country: US
        language: ""
        ip_address: "123.123.123.123"
        payment_method: 
          id: PMT_41db09dd-784e-47f7-a5b8-39f4853fbdc0
          first_name: James
          last_name: Mason
          entry_mode: ECOM
          authentication: 
            xid: vJ9NXpFueXsAqeb4iAbJJbe+66s=
            cavv: AAACBUGDZYYYIgGFGYNlAAAAAAA=
            eci: "5"
            mac: ""
        stored_credential: 
          model: INSTALLMENT
          reason: INCREMENTAL
          sequence: SUBSEQUENT
        installment: 
          program: ""
          term: 
            id: Gym Membership
            time_unit: MONTH
            time_unit_number: "12"
        
    apms:
      value: 
        account_name: Transaction_Processing
        type: SALE
        channel: CNP
        capture_mode: AUTO
        amount: "1999"
        currency: EUR
        reference: 93459c78-f3f9-427c-84df-ca0584bb55bf
        description: SKU#BLK-MED-G123-GUC
        order_reference: INV#88547
        country: US
        language: ""
        ip_address: "123.123.123.123"
        site_reference: ""
        payment_method: 
          first_name: James
          last_name: Mason
          entry_mode: ECOM
          apm: 
            provider: testpay
        notifications: 
          return_url: https://www.example.com/return_url
          status_url: https://www.example.com/status_url

    ecom_refund:
      value:
        account_name: Transaction_Processing
        type: REFUND
        channel: CNP
        capture_mode: AUTO
        amount: "1999"
        currency: USD
        reference: 93459c78-f3f9-427c-84df-ca0584bb55bf
        description: SKU#BLK-MED-G123-GUC_Refund
        order_reference: INV#88547
        country: US
        ip_address: "123.123.123.123"
        payment_method: 
          first_name: James
          last_name: Mason
          entry_mode: ECOM
          card: 
            number: "4263970000005262"
            expiry_month: "05"
            expiry_year: "25"
            cvv: "852"
            cvv_indicator: PRESENT
            avs_address: Flat 123
            avs_postal_code: "50001"
    
    cardpresent_refund:
      value:
        account_name: Transaction_Processing
        type: REFUND
        channel: CP
        capture_mode: AUTO
        amount: "1999"
        currency: USD
        reference: 93459c78-f3f9-427c-84df-ca0584bb55bf
        description: SKU#BLK-MED-G123-GUC_Refund
        order_reference: INV#88547
        gratuity_amount: ""
        cashback_amount: ""
        surcharge_amount: ""
        convenience_amount: ""
        country: US
        ip_address: "123.123.123.123"
        site_reference: Site-1324
        payment_method: 
          first_name: James
          last_name: Mason
          entry_mode: CHIP
          card: 
            track: "%B4012002000060016^VI TEST CREDIT^251210118039000000000396?;4012002000060016=25121011803939600000?"
            tag: "9F4005F000F0A0019F02060000000025009F03060000000000009F2608D90A06501B48564E82027C005F3401019F360200029F0702FF009F0802008C9F0902008C9F34030403029F2701809F0D05F0400088009F0E0508000000009F0F05F0400098005F280208409F390105FFC605DC4000A800FFC7050010000000FFC805DC4004F8009F3303E0B8C89F1A0208409F350122950500000080005F2A0208409A031409109B02E8009F21030811539C01009F37045EED3A8E4F07A00000000310109F0607A00000000310108407A00000000310109F100706010A03A400029F410400000001"
            funding: DEBIT
            chip_condition: ""
            pin_block: ""
            brand_reference: ""