openapi: 3.0.1
info:
  title: Verifications
  description: 'Verifications represent the validation of a payment method to ensure
    it can be used in the creation of a Transaction. '
  version: 2020 04 10
servers:
- url: https://apis.sandbox.globalpay.com/ucp
security:
- bearerAuth: []
tags: []
paths:
  /verifications:
    post:
      tags:
      - Verify
      summary: Verify a payment method to ensure it can be used to create a Transaction
        at a later time.
      description: Verify a payment method to ensure it can be used to create a Transaction
        at a later time.
      parameters:
      - name: Authorization
        in: header
        description: The Bearer token used when executing this action.
        required: true
        schema:
          type: string
          default: Bearer YX06YElOGvuMmj3mtNhmGYVujpCs
      - name: X-GP-Version
        in: header
        description: Indicates the version of the GP API for this message.
        required: true
        schema:
          type: string
          default: "2020-04-10"
      - name: Accept
        in: header
        description: Expected format of the response message.
        schema:
          type: string
          default: application/json
      - name: Content-type
        in: header
        description: Format of the message.
        required: true
        schema:
          type: string
          default: application/json
      - name: Accept-Encoding
        in: header
        description: Compression algorithm user can accept in the response to this
          request.
        schema:
          type: string
          default: gzip
      - name: X-GP-Idempotency
        in: header
        description: Field submitted in the request that is used to ensure idempotency
          is maintain with this action.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/request'
        required: true
      responses:
        200:
          description: Success
          headers:
            Content-type:
              description: Format of the message.
              schema:
                type: string
                default: application/json
            Content-Encoding:
              description: Compression algorithm used in the response.
              schema:
                type: string
            X-GP-Version:
              description: Indicates the version of the GP-API for this message.
              schema:
                type: string
                default: 2020-04-10
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp400'
        401:
          description: Not Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp401'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp403'
        404:
          description: Resource Not Found
          content: {}
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp500'
        501:
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp501'
        502:
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp502'
        504:
          description: Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorhttp504'
      x-codegen-request-body-name: Request Body
components:
  schemas:
    request:
      required:
      - account_name
      - channel
      - country
      - payment_method
      - reference
      type: object
      properties:
        account_name:
          type: string
          description: A meaningful label generated by Global Payments to identify
            the Merchant's configuration account.
          example: Transaction_Processing
        channel:
          type: string
          description: Describes whether the transaction was processed in a face to
            face(CP) scenario or a Customer Not Present (CNP) scenario.
          example: CNP
          enum:
          - CP
          - CNP
        reference:
          type: string
          description: Merchant defined field to reference the Transaction.
          example: 93459c78-f3f9-427c-84df-ca0584bb55bf
        currency:
          type: string
          description: The currency of the amount.
          example: USD
          enum:
          - USD
          - CAD
          - SBD
          - EUR
          - JPY
        country:
          type: string
          description: Indicates the country associated with the transaction.
          example: US
          enum:
          - US
          - CA
          - UK
          - '...'
        payment_method:
          $ref: '#/components/schemas/payment_method_req'
    response:
      type: object
      properties:
        id:
          type: string
          description: A unique identifier generated by Global Payments to identify
            the Verification.
          example: VER_7RWAxqK8hxzzWZDLgZUmULvLvgFpVk
        merchant_id:
          type: string
          description: A unique identifier generated by Global Payments to identify
            the Merchant.
          example: MER_c4c0df11039c48a9b63701adeaa296c3
        merchant_name:
          type: string
          description: A meaningful label generated by Global Payments to identify
            the Merchant.
          example: Sandbox_merchant_2
        account_id:
          type: string
          description: A unique identifier generated by Global Payments to identify
            the Merchant's transaction processing configuration.
          example: TRA_6716058969854a48b33347043ff8225f
        account_name:
          type: string
          description: A meaningful label generated by Global Payments to identify
            the Merchant's configuration account.
          example: Transaction_Processing
        time_created:
          type: string
          description: Global Payments time indicating when the Transaction was first
            created. Value is in ISO-8601 format and in UTC.
          example: 2020-05-06T16:48:28.184Z
        status:
          type: string
          description: Indicates the current state the verification is in in its life-cycle.
          enum:
          - VERIFIED
          - NOT_VERIFIED
        channel:
          type: string
          description: Describes whether the transaction was processed in a face to
            face(CP) scenario or a Customer Not Present (CNP) scenario.
          example: CNP
          enum:
          - CP
          - CNP
        reference:
          type: string
          description: 'Merchant defined field to reference the Verification. '
          example: MY-Verify-20190924123456
        payment_method:
          $ref: '#/components/schemas/payment_method_res'
        action:
          $ref: '#/components/schemas/action'
    action:
      type: object
      properties:
        id:
          type: string
          description: A unique identifier generated by Global Payments to identify
            the Action.
          example: ACT_xsrTqkSXsCxfGwXMdNezpHDkfXAakw
        type:
          type: string
          description: Indicates the action taken.
          enum:
          - VERIFY
        time_created:
          type: string
          description: 'Global Payments time indicating when the Action was executed.
            Value is in ISO-8601 format and in UTC. '
          example: 2020-05-06T16:48:28.184Z
        result_code:
          type: string
          description: 'The result of the action executed. '
          enum:
          - SUCCESS
          - DECLINE
        app_id:
          type: string
          description: 'The App id used to create the token for this request. '
          example: i9R0byBBor6RqTQNj3g4MuVBwH5rd7yR
        app_name:
          type: string
          description: The App Name used to create the token for this request.
          example: demo_app
      description: Information about the Action executed.
    payment_method_req:
      type: object
      properties:
        first_name:
          type: string
          description: 'Specify the first name of the owner of the payment method. '
          example: James
        last_name:
          type: string
          description: Specify the surname of the owner of the payment method.
          example: Mason
        entry_mode:
          type: string
          description: Indicates how the payment method information was obtained by
            the Merchant for this Transaction.
          example: ECOM
          enum:
          - MOTO
          - ECOM
          - IN_APP
          - CHIP
          - SWIPE
          - MANUAL
          - CONTACTLESS_CHIP
          - CONTACTLESS_SWIPE
        id:
          type: string
          description: Unique reference of a stored payment method to use to create
            a Sale or Refund transaction, instead of the actual payment method details.
          example: ""
        encryption:
          $ref: '#/components/schemas/encryption'
        card:
          $ref: '#/components/schemas/card_req'
    payment_method_res:
      type: object
      properties:
        result:
          type: string
          description: Result code from the payment method provider.
          example: "00"
        message:
          type: string
          description: 'Result message from the payment method provider corresponding
            to the result code. '
          example: '[ test system ] AUTHORISED'
        entry_mode:
          type: string
          description: Indicates how the payment method information was obtained by
            the Merchant for this Transaction.
          example: ECOM
          enum:
          - MOTO
          - ECOM
          - IN_APP
          - CHIP
          - SWIPE
          - MANUAL
          - CONTACTLESS_CHIP
          - CONTACTLESS_SWIPE
        card:
          $ref: '#/components/schemas/card_res'
    encryption:
      type: object
      properties:
        method:
          type: string
          description: The encryption method used when sending encrypted card data
            to Global Payments.
          example: ""
          enum:
          - KTB
          - KSN
        version:
          type: string
          description: 'The version of encryption being used. '
          example: ""
        info:
          type: string
          description: The encryption info used when sending encrypted card data to
            Global Payments.
          example: ""
    card_req:
      type: object
      properties:
        number:
          type: string
          description: The the card account number to verify.
          example: "4263970000005262"
        expiry_month:
          type: string
          description: 2 digit expiry date month to verify.
          example: "12"
        expiry_year:
          type: string
          description: 2 digit expiry date month to verify.
          example: "24"
        track:
          type: string
          description: Data taken from the card's magnetic stripe via swipe or via
            a contactless tap using a terminal device.
          example: ""
        tag:
          type: string
          description: The full card tag data for an EMV/chip card Transaction.
          example: ""
        chip_condition:
          type: string
          description: Indicates if a fallback mechanism was used to obtain the card
            information when EMV/chip did not work as expected.
          example: ""
          enum:
          - PREV_SUCCESS
          - PREV_FAILED
        pin_block:
          type: string
          description: Contains the pin block info, relating to the pin code the Payer
            entered.
          example: ""
        cvv:
          type: string
          description: Card Verification Value numeric value printed on the physical
            card.
          example: "345"
        cvv_indicator:
          type: string
          description: Card Verification Value Indicator sent by the Merchant indicating
            the CVV availability.
          example: PRESENT
          enum:
          - ILLEGIBLE
          - NOT_PRESENT
          - PRESENT
        avs_address:
          type: string
          description: The AVS address data needed to verify the address that's associated
            with a card.
          example: Flat 456
        avs_postal_code:
          type: string
          description: The AVS postal code data needed to verify the postcode of the
            address that's associated  with a card.
          example: WB3 A21
      description: Data relating to the card payment method.
    card_res:
      type: object
      properties:
        masked_number_last4:
          type: string
          description: Masked card number with last 4 digits showing.
          example: XXXXXXXXXXXX5262
        tag_response:
          type: string
          description: The card tag response data from the card issuer for a contactless
            or chip card transaction.
          example: ""
        authcode:
          type: string
          description: Card Authorization code for successfully authorized transactions.
          example: "12345"
        brand:
          type: string
          description: 'Indicates the card brand that issued the card. '
          enum:
          - VISA
          - MASTERCARD
          - AMEX
          - DINERS
          - DISCOVER
          - JCB
        brand_reference:
          type: string
          description: Card brand reference for this transaction.
          example: tpvcPfdcoBZB5I2N
        cvv_result:
          type: string
          description: The result of the CVV check.
          enum:
          - MATCHED
          - NOT_MATCHED
          - NOT_CHECKED
        avs_address_result:
          type: string
          description: The result of the AVS address check.
          enum:
          - MATCHED
          - NOT_MATCHED
          - NOT_CHECKED
        avs_postal_code_result:
          type: string
          description: The AVS postal code result indicating the result of the postal
            code check.
          enum:
          - MATCHED
          - NOT_MATCHED
          - NOT_CHECKED
        avs_action:
          type: string
          description: The recommended AVS action based on the AVS results.
          enum:
          - ACCEPT
          - PROMPT
          - DECLINE
      description: Data relating to the card payment method.
    errorhttp400:
      type: object
      properties:
        error_code:
          type: string
          description: This action failed due to something being wrong with the API
            request.
          example: MANDATORY_DATA_MISSING
          enum:
          - DUPLICATE_TRANSACTION
          - INVALID_BATCH_ACTION
          - INVALID_REQUEST_DATA
          - INVALID_TRANSACTION_ACTION
          - MANDATORY_DATA_MISSING
          - TRANSACTION_NOT_FOUND
        detailed_error_code:
          type: string
          description: Unique reference to identify the error.
          example: "40016"
          enum:
          - 4xxxx Range
        detailed_error_description:
          type: string
          description: Unique Text describing the specific error.
          example: Bad track data
    errorhttp401:
      type: object
      properties:
        error_code:
          type: string
          description: This action failed as token in the request is not valid.
          example: NOT_AUTHENTICATED
          enum:
          - NOT_AUTHENTICATED
        detailed_error_code:
          type: string
          description: Unique reference to identify the error.
          example: "40001"
          enum:
          - 4xxxx Range
          - "40001"
          - "40002"
        detailed_error_description:
          type: string
          description: Unique Text describing the specific error.
          example: Invalid Access Token
    errorhttp403:
      type: object
      properties:
        error_code:
          type: string
          description: This action is not authorized with the credentials being used.
          example: ACTION_NOT_AUTHORIZED
          enum:
          - ACTION_NOT_AUTHORIZED
        detailed_error_code:
          type: string
          description: Unique reference to identify the error.
          example: "40003"
          enum:
          - 4xxxx Range
          - "40003"
          - "40004"
        detailed_error_description:
          type: string
          description: Unique Text describing the specific error.
          example: Permission not enabled to execute action
    errorhttp500:
      type: object
      properties:
        error_code:
          type: string
          description: This indicates an unexpected issue occurred on the Global Payments
            system.
          example: SYSTEM_ERROR_DOWNSTREAM
          enum:
          - SYSTEM_ERROR_DOWNSTREAM
        detailed_error_code:
          type: string
          description: Unique reference to identify the error.
          example: "50011"
          enum:
          - 5xxxx Range
        detailed_error_description:
          type: string
          description: Unique Text describing the specific error.
          example: Processor Configuration error
    errorhttp501:
      type: object
      properties:
        error_code:
          type: string
          description: This is an error not yet handled or mapped properly.
          example: UNKNOWN_RESPONSE
          enum:
          - UNKNOWN_RESPONSE
        detailed_error_code:
          type: string
          description: Unique reference to identify the error.
          example: "50012"
          enum:
          - "50012"
        detailed_error_description:
          type: string
          description: 'Unique Text describing the specific error not yet handled.      '
    errorhttp502:
      type: object
      properties:
        error_code:
          type: string
          description: This is an error indicating there was an issue connecting to
            a partner system..
          example: UNAUTHORIZED_DOWNSTREAM
          enum:
          - UNAUTHORIZED_DOWNSTREAM
        detailed_error_code:
          type: string
          description: Unique reference to identify the error.
          example: "50002"
          enum:
          - 5xxxx Range
        detailed_error_description:
          type: string
          description: Authentication error—Verify and correct credentials.
    errorhttp504:
      type: object
      properties:
        error_code:
          type: string
          description: This is an error indicating there was a timeout issue to another  system.
          example: TIMEOUT_DOWNSTREAM
          enum:
          - TIMEOUT_DOWNSTREAM
        detailed_error_code:
          type: string
          description: Unique reference to identify the error.
          example: "50008"
          enum:
          - 5xxxx Range
        detailed_error_description:
          type: string
          description: No response from payment method provider.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer